*, html, body {
    box-sizing: border-box;
}

body {
/*    font-family: Arial, Helvetica, sans-serif;*/
    font-size: 14px;
    line-height: 1.6;
}

a {
    color: #428BCA;
    text-decoration: none;
    transition: all 0.25s ease 0s;
}
a:hover, 
a:focus {
    color: #428BCA;
    text-decoration: underline;
    transition: all 0.25s ease 0s;
}

/* Заголовки */

h1, h2, h3, h4, h5, h6 {
    padding: 1rem;
    margin: 0;
}

h1 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
}

p {
    margin: 0;
    font-size: inherit;
    line-height: inherit;
}

form {
    width: 100%;
}

/* Таблицы */

table {
    border: none;
    border-collapse: collapse;

    width: 100% !important;
}

table thead tr td {
    background: #34495E; /* wetasphalt */

    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 #2C3E50; /* midnightblue */
}

table tr td {
    border: 1px solid #BDC3C7;

    padding: 0;
}

.tableInputLeft,
.tableInputRight {
    background: transparent !important;
    border: none !important;
    padding: 0 !important;
    width: 15rem;
    overflow: hidden;
}

.tableInputLeft input, .tableInputRight input,
.tableInputLeft button, .tableInputRight button,
.tableInputLeft a, .tableInputRight a {
    display: block;
    cursor: pointer;

    border: none;

    color: #FFF;
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.35;

    width: 12rem;
    transition: all 0.7s ease;
    height: 2.8rem;

    position: relative;
    top: -1px;
}

.tableInputLeft input,
.tableInputLeft button,
.tableInputLeft a {
    border-radius: 1rem 0 0 1rem;

    float: right;

    left: 8.9rem;
}
.tableInputRight input,
.tableInputRight button,
.tableInputRight a {
    border-radius: 0 1rem 1rem 0;

    float: left;

    right: 7.9rem;
}

.tableInputLeft input:hover,
.tableInputLeft button:hover,
.tableInputLeft a:hover {
    width: 12rem;
    transition: all 0.7s ease;

    left: 0;
}
.tableInputRight input:hover,
.tableInputRight button:hover,
.tableInputLeft  a:hover {
    width: 12rem;
    transition: all 0.6s ease;

    right: 0;
}

.tableNumber {
    text-align: center;

    width: 5rem;
}
.tableText {
}
.tableScore {
    text-align: center;
}

/* Фиксы Flat UI */

.container.wrapper {
    margin-top: 5.5rem;

    width: 100%;
}

.page-header {
    border: none;

    padding: 0;
    margin: 0;
}

.row {
    margin: 0.5rem !important;
}

/* Верхнее меню навигации */

#top-menu {
    background: #FFF;

    box-shadow: 0 -1rem 1.1rem -1rem rgba(0,0,0,0.11) inset;

    width: 100%;
}

.navbar {
    margin: 0;
    min-height: 5.5rem;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    background: transparent;
    color: #3498DB;
}

.navbar-default .navbar-nav > .active   > a .caret,
.navbar-default .navbar-nav > .dropdown > a:hover .caret, 
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color:    #3498DB;
    border-bottom-color: #3498DB;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
    color: #3498DB;
}

.navbar-nav > li > .dropdown-menu {
    border-radius: 1rem;
    box-shadow: 0 0.15rem 0.2rem 0 rgba(0,0,0,0.5);
}

.dropdown-menu li.active   > a, 
.dropdown-menu li.selected > a, 
.dropdown-menu li.active   > a.highlighted, 
.dropdown-menu li.selected > a.highlighted {
    background: none repeat scroll 0% 0% #3498DB;
    color: #FFF;
    text-shadow: 1px 1px 0px rgba(0, 60, 100, 0.5);
}

.dropdown-menu li.active   > a:hover, 
.dropdown-menu li.selected > a:hover, 
.dropdown-menu li.active   > a.highlighted:hover, 
.dropdown-menu li.selected > a.highlighted:hover, 
.dropdown-menu li.active   > a:focus, 
.dropdown-menu li.selected > a:focus, 
.dropdown-menu li.active   > a.highlighted:focus, 
.dropdown-menu li.selected > a.highlighted:focus {
    background: none repeat scroll 0% 0% #3498DB;
    color: #FFF;
}

.dropdown:hover > .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.25s ease;
}

/* Формы */

input[type="submit"],
button {
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
}

input[type="number"] {
    border-radius: 1rem 0 0 1rem;
    width: 5rem;
}

input::-o-outer-spin-button,
input::-o-inner-spin-button {
    -o-appearance: none;
    margin: 0;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.tableInputLeft > button,
.tableInputRight > button {

}

.tableInputLeft > button > i,    .tableInputRight > button > i,
.tableInputLeft > button > span, .tableInputRight > button > span,
.tableInputLeft > a      > i,     .tableInputLeft > a      > i,
.tableInputLeft > a      > span,  .tableInputLeft > a      > span {
    color: #FFF;
}

.form-control {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border: 0.2rem solid #3498DB;
    border-radius: 1rem;
}

.form-control.btn-success {
    background: #58D68D;
    text-shadow: 1px 1px 0 #27AE60;
}
.form-control.btn-warning {
    background: #F5D313;
    text-shadow: 1px 1px 0 #F39C12;
}
.form-control.btn-danger {
    background: #EF5A4A;
    text-shadow: 1px 1px 0 #C0392B;
}

.form-control.btn-success:hover {
    background: #2ECC71;
}
.form-control.btn-warning:hover {
    background: #EFC20E;
}
.form-control.btn-danger:hover {
    background: #E74C3C;
}

.input-group {
    display: inline-block;
    vertical-align: middle;
}

.btn-group, 
.btn-group-vertical {
    vertical-align: top;
}

.btn-group > label.btn-label {
    color: #34495E;
    font-size: inherit !important;
    font-weight: bold;
    line-height: inherit !important;
    text-transform: uppercase;

    padding: 0.5rem 1rem 0.5rem 0;
    margin: 0;
}

.btn-group > label.btn-label.disabled {
    color: #AFAFAF;
}

.btn-group > .btn-group {
    float: none;
}

.btn {
    border-radius: 1rem;

    font-weight: bold;
    line-height: inherit;

    padding: 0.4rem 1rem;
}

a.btn {
    text-transform: uppercase;
}

.btn-info {
    color: #FFF;
    text-shadow: 1px 1px 0 rgba(0, 60, 100, 0.5);
}

.btn-info.disabled {
    color: #FFF;
    text-shadow: 1px 1px 0 rgba(100, 100, 100, 0.5);
}

/* Выбор игровой стадии */

.zoneGroupPlayoffToggle {
    width: 60%;
}

.zoneGroupPlayoffToggle label:nth-child(3) {
    border-radius: 1rem 0 0 0 !important;

    text-align: center;

    width: 50%;
}
.zoneGroupPlayoffToggle label:nth-child(3).active {
    box-shadow: -4px -4px 4px -1px rgba(0, 0, 0, 0.2) inset;
}

.zoneGroupPlayoffToggle label:nth-child(4) {
    border-radius: 0 1rem 0 0 !important;

    text-align: center;

    width: 50%;
}
.zoneGroupPlayoffToggle label:nth-child(4).active {
    box-shadow: 4px -4px 4px -1px  rgba(0, 0, 0, 0.2) inset;
}

.zoneGroupPlayoffToggle label:nth-child(5),
.zoneGroupPlayoffToggle label:nth-child(6) {
    border-radius: 0 0 1rem 1rem !important;

    width: 100%;
}
.zoneGroupPlayoffToggle label:nth-child(5).active,
.zoneGroupPlayoffToggle label:nth-child(6).active {
    box-shadow: 0 4px 4px -1px     rgba(0, 0, 0, 0.2) inset;
}

/* Выбор типа соревнований */

.gameType {
    width: 60%;
}

.gameType label:nth-child(3) {
    border-radius: 1rem 0 0 1rem !important;

    text-align: center;

    width: 50%;
}
.gameType label:nth-child(3).active {
    box-shadow: -4px -2px 4px -1px rgba(0, 0, 0, 0.2) inset;
}

.gameType label:nth-child(4) {
    border-radius: 0 1rem 1rem 0 !important;

    text-align: center;

    width: 50%;
}
.gameType label:nth-child(4).active {
    box-shadow: 4px -2px 4px -1px  rgba(0, 0, 0, 0.2) inset;
}

/* Фиксы Bootstrap Switch */

.btn.disabled, 
.btn[disabled], 
fieldset[disabled] .btn {
    background-color: #BDC3C7;
    color: #FFF;
    opacity: 1;
}

.bootstrap-switch .bootstrap-switch-label {
    display: none !important;
}

.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-container {
    margin-left: -100%;
}

.bootstrap-switch .bootstrap-switch-handle-on, 
.bootstrap-switch .bootstrap-switch-handle-off {
    width: 50%;
}

.bootstrap-switch .bootstrap-switch-container {
    width: 200%;
}

/* Фиксы Bootstrap-Select */

.selectpicker.btn-info + .dropdown-menu > .dropdown-menu li > a {
    text-align: left;
}

.selectpicker.btn-info + .dropdown-menu > .dropdown-menu li.active > a, 
.selectpicker.btn-info + .dropdown-menu > .dropdown-menu li.selected > a, 
.selectpicker.btn-info + .dropdown-menu > .dropdown-menu li.active > a.highlighted, 
.selectpicker.btn-info + .dropdown-menu > .dropdown-menu li.selected > a.highlighted {
    background: #3498DB;
}

.dropdown-header {
    display: block;

    padding: 1.55rem 0 1.55rem 2.1rem;

    color: #34495E;
    font-size: 1.6rem;
    font-weight: bold;
}
.dropdown-header.active {
    color: #3498DB;
}

.dropdown-menu {
    display: none;
    background-color: #FBFBFB;
    border-radius: 0 0 1rem 1rem;
    width: 100%;
    top: 15%;
}

.dropdown-menu.open {
    background: transparent;
}

.dropdown-menu li > a {
    padding: 0.5rem 1rem;
}

.dropdown-menu li > a:hover, 
.dropdown-menu li > a:active, 
.dropdown-menu li > a:focus {
    background: #3498DB;
    color: #FFF;
    text-shadow: 1px 1px 0px rgba(0, 60, 100, 0.5);
}

.dropdown-menu li:first-child a,
.dropdown-menu li.filtered:first-child a {
    border-radius: 0;
}
.dropdown-menu li:last-child a,
.dropdown-menu li:last-child a.filtered,
.dropdown-menu li:only-child a.filtered {
    border-radius: 0 0 1rem 1rem;
}

.bootstrap-select.btn-group:not(.input-group-btn), 
.bootstrap-select.btn-group[class*="span"] {
 /*   float: right;*/
}

.bootstrap-select > .btn.dropdown-toggle {
    border-radius: 1rem !important;

    text-transform: none;
}
.bootstrap-select.open > .btn.dropdown-toggle {
    border-radius: 1rem 1rem 0 0 !important;
}

.bootstrap-select-searchbox, 
.bootstrap-select .bs-actionsbox {
    background: #ECF0F1;

    padding: 0;
}
.bootstrap-select-searchbox input {
    border-radius: 0;
    width: 100%;
}

.open > .dropdown-menu {
    margin-top: 0 !important;
    box-shadow: 0 0.15rem 0.2rem 0 rgba(0, 0, 0, 0.5);
}
.dropdown-menu.open {
    top: 3.2rem !important;
}
.nav .dropdown-menu {
    top: 0 !important;
}

.nav .dropdown-menu li:first-child > a {
    border-radius: 1rem 1rem 0 0;
}
.nav .dropdown-menu li:last-child > a {
    border-radius: 0 0 1rem 1rem;
}

.form-group {
    margin-bottom: 0 !important;
}

.form-group.focus .form-control, 
.form-control:focus {
/*    background: rgba(255, 200, 0, 0.5);*/
    border-color: #3498DB;
}

.selectpicker.btn-info + .dropdown-menu > .dropdown-menu li.active   > a, 
.selectpicker.btn-info + .dropdown-menu > .dropdown-menu li.selected > a, 
.selectpicker.btn-info + .dropdown-menu > .dropdown-menu li.active   > a.highlighted, 
.selectpicker.btn-info + .dropdown-menu > .dropdown-menu li.selected > a.highlighted {
    background: none repeat scroll 0% 0% #3498DB;
}

.bootstrap-select.btn-group .dropdown-menu.inner {
    border-radius: 0 0 1rem 1rem;
}

/* Форма авторизации при входе на сайт */

#authForm {
    display: inline-block;

    width: 40rem;
}

#authFormLogin {
    border-bottom: 1px solid #BDC3C7;
    border-radius: none;

    position: relative;
    z-index: 1;
}

#authFormPassword {
    border-top: 1px solid #BDC3C7;
    border-radius: none;

    position: relative;
    z-index: 1;
}

#authFormLogin:focus,
#authFormPassword:focus {
   border-color: #1ABC9C; 
}

#authFormSubmit {
    color: #FFF;
    background-color: #1ABC9C;

    border-radius: 0 1rem 1rem 0;

    height: 8.4rem;

    position: relative;
    left: -2px;
    z-index: 2;
}

/* Модальные окна */

.modal-dialog {
    margin: 5.5rem auto 0 auto;
}

.modal-lg {
    overflow: visible;

    width: 80%;
}

.modal-content {
    border: none;
    border-radius: 1rem;

    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.5);
}

.modal-header {
    padding: 0 15px;
    box-shadow: 0 -1rem 1rem -1rem rgba(0, 0, 0, 0.1) inset;
}

.close {
    font-size: 36px;
    line-height: 1.25;
}

.modal-body {
    padding: 1.5rem 2.5rem;
}

.modal-footer {
    text-align: center;
    padding: 7px 0;
    margin: 0;
    box-shadow: 0 1.25rem 1rem -1rem rgba(0, 0, 0, 0.1) inset;
}

.modal-footer .btn-success {
    background: #2ECC71;
    text-shadow: 1px 1px 0 #27AE60;
}
.modal-footer .btn-warning {
    background: #F1C40F;
    text-shadow: 1px 1px 0 #F39C12;
}
.modal-footer .btn-danger {
    background: #E74C3C;
    text-shadow: 1px 1px 0 #C0392B;
}

.modal-footer .btn-success:hover {
    background: #23BF64;
    text-shadow: 1px 1px 0 #27AE60;
}
.modal-footer .btn-warning:hover {
    background: #DFB200;
    text-shadow: 1px 1px 0 #F39C12;
}
.modal-footer .btn-danger:hover {
    background: #CF3626;
    text-shadow: 1px 1px 0 #C0392B;
}

.modal-footer .btn.disabled, 
.modal-footer .btn[disabled], 
.modal-footer fieldset[disabled] .btn {
    background-color: #BDC3C7;
    color: #FFF;
    text-shadow: none;
    opacity: 1;
}

/* Список возрастов */

.btn-info.active {
    background: #268BCF;
}

[data-toggle="buttons"] label input[type="radio"] {
    display: inline-block;
    visibility: hidden !important;
    
    position: absolute;
    top: 0;
    left: -1000%;
}

.listAgeTop, 
.listAgeBottom,
.stageTypeTop,
.stageTypeBottom {
    margin:  0 !important;
    padding: 0 !important;

    width: 100% !important;
}

.listAgeTop       label,
.listAgeBottom    label,
.stageTypeTop     label,
.stageTypeBottom  label {
    font-weight: bold !important;
}

.stageTypeTop  label {
    width: 75px;
}
.stageTypeBottom  label {
    width: 150px;
}

.listAgeTop     label:first-child,
.stageTypeTop   label:first-child  {
    border-radius: 1rem 0 0 0 !important;
}
.listAgeTop     label:last-child,
.stageTypeTop   label:last-child  {
    border-radius: 0 1rem 0 0 !important;
}
.listAgeBottom  label:first-child {
    border-radius: 0 0 0 1rem !important;
}
.listAgeBottom  label:last-child {
    border-radius: 0 0 1rem 0 !important;
}
.stageTypeBottom  label {
    border-radius: 0 0 1rem 1rem !important;
}

.listAgeTop     label.active {
    box-shadow: 0 -4px 4px -1px    rgba(0, 0, 0, 0.2) inset;
}
.listAgeTop     label:first-child.active,
.stageTypeTop   label:first-child.active {
    box-shadow: -4px -4px 4px -1px rgba(0, 0, 0, 0.2) inset;
}
.listAgeTop     label:last-child.active,
.stageTypeTop   label:last-child.active {
    box-shadow: 4px -4px 4px -1px  rgba(0, 0, 0, 0.2) inset;
}
.listAgeBottom     label.active,
.stageTypeBottom   label.active {
    box-shadow: 0 4px 4px -1px     rgba(0, 0, 0, 0.2) inset;
}
.listAgeBottom     label:first-child.active {
    box-shadow: -4px 4px 4px -1px  rgba(0, 0, 0, 0.2) inset;
}
.listAgeBottom     label:last-child.active {
    box-shadow: 4px 4px 4px -1px   rgba(0, 0, 0, 0.2) inset;
}

/* Выбор подгрупп в списке команд внутри игровой стадии */

#substage_ID .substage_ID:nth-child(3) {
    border-radius: 1rem 1rem 0 0;

    width: 100%; 
}
#substage_ID .substage_ID:nth-child(5) {
    border-radius: 0 0 0 1rem;
}
#substage_ID .substage_ID:nth-child(9) {
    border-radius: 0 0 1rem 0;
}

#substage_ID .substage_ID.active {
    box-shadow: 0 4px 4px -1px    rgba(0, 0, 0, 0.2) inset;
}
#substage_ID .substage_ID:nth-child(3).active {
    box-shadow: 0 -4px 4px -1px   rgba(0, 0, 0, 0.2) inset;
}
#substage_ID .substage_ID:nth-child(5).active {
    box-shadow: -4px 4px 4px -1px rgba(0, 0, 0, 0.2) inset;
}
#substage_ID .substage_ID:nth-child(9).active {
    box-shadow: 4px 4px 4px -1px  rgba(0, 0, 0, 0.2) inset;
}

/* Валидация форм */

input.error {
    border-color: #D2322D !important;
    font-weight: bold;
    padding: 0px 1.5rem;
    margin: 0;
}

/* Пагинация */

.pagination > li > a, 
.pagination > li > span {
    color: #3498DB;
    background-color: #FFF;
    border: 1px solid #BDC3C7;
}

.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
    background-color: #3498DB;
    border-color: #3498DB;
}

.pagination > .disabled > span, 
.pagination > .disabled > span:hover, 
.pagination > .disabled > span:focus, 
.pagination > .disabled > a, 
.pagination > .disabled > a:hover, 
.pagination > .disabled > a:focus {
    color: #999;
    background-color: #FFF;
    border-color: #BDC3C7;
    cursor: not-allowed;
}

/* Кнопки Bootstrap Touchspin */
/*
.bootstrap-touchspin-up,
.bootstrap-touchspin-down {
    display: none !important;
}*/

.form-group.focus .form-control + .input-group-btn-vertical .bootstrap-touchspin-up, 
.form-control:focus + .input-group-btn-vertical .bootstrap-touchspin-up{
    background-color: #3498DB;
}