
<form class="flat-form create-form" name="create" method="POST" action="{{ url_for('createStage') }}">
    <div id="Modal_create" class="modal fade modal-lg" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <a href="{{ url_for('listStage') }}">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                    </a>
                    <h3 class="modal-title" aria-labelledby="Modal_create_Label">Добавить новый город</h3>
                </div>

                <div class="modal-body">
                    <div class="form-group btn-group" data-toggle="buttons">
                        <label class="btn-label">Выберите тип стадии</label>
                        <div class="btn-group stageTypeTop">
                            <label for="stagetype_zone" class="btn btn-info">
                                <input id="stagetype_zone" type="radio" name="stagetype" value="Z">зона
                            </label>
                            <label for="stagetype_group" class="btn btn-info">
                                <input id="stagetype_group" type="radio" name="stagetype" value="G">группа
                            </label>
                        </div>
                        <div class="btn-group stageTypeBottom">
                            <label for="stagetype_playoff" class="btn btn-info">
                                <input id="stagetype_playoff" type="radio" name="stagetype" value="P">плэй-офф
                            </label>
                        </div>
                    </div>
                    <br>
                    <div class="form-group btn-group">
                        <label for="stageName" class="btn-label">Название стадии</label> 
                        <input class="form-control" type="text" name="stageName">
                    </div>
                </div>

                <div class="modal-footer">
                    <a class="btn btn-danger" href="{{ url_for('listStage') }}">Отмена</a>
                    <button class="btn btn-success" type="submit" name="modify" value="create">Сохранить</button>
                </div>

            </div>
        </div>
    </div>
</form>
