
<form class="flat-form update-form" name="update" method="POST" action="{{ url_for('updateGP', seasonid = seasonid, ageid = ageid, sasid = sasid, gpid = lgp.GP_ID) }}">
    <div id="Modal_update_{{ lgp.GP_ID }}" class="modal fade modal-lg" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <a href="{{ url_for('listGP', seasonid = seasonid, ageid = ageid, sasid = sasid) }}">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                    </a>
                    <h3 class="modal-title" aria-labelledby="Modal_editSAST_Label">Добавить новый матч в 
                        {% for lsast in listSAST %}
                            {% if loop.index in range(1,2) %}
                                {% if lsast.SAS_ID.stage_ID.stageType == "G" %}
                                    группе {{ lsast.SAS_ID.stage_ID.stageName }}
                                {% endif %}
                                {% if lsast.SAS_ID.stage_ID.stageType == "P" %}
                                    этапе плэй-офф
                                {% endif %}
                                {% if lsast.SAS_ID.stage_ID.stageType == "Z" %}
                                    зоне {{ lsast.SAS_ID.stage_ID.stageName }}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </h3>
                </div>

                <div class="modal-body">

                    <div class="row">

                        <div class="btn-group">
                            <label class="btn-label" for="gameNumber">Номер матча </label>
                            <input name="gameNumber" value="{{ lgp.gameNumber }}" type="number" class="form-control">
                            <label class="btn-label" for="tourNumber">Номер тура </label>
                            <input name="tourNumber" value="{{ lgp.tourNumber }}" type="number" class="form-control">
                        </div>

                    {# Поля внутри доступны только для кругового Первенства #}
                    {% if sasgametype == "CHA" %}
                        <div class="btn-group" data-toggle="buttons">

                            <label class="btn-label {% if sasgametype != "CHA" %}disabled{% endif %}">Номер круга</label>
                            <div class="btn-group">
                                <label for="stageNumber" class="btn btn-info {% if sasgametype != "CHA" %}disabled{% endif %}">
                                    <input type="radio" name="stageNumber" value="1" class="form-control">1 круг
                                </label>
                                <label for="stageNumber" class="btn btn-info {% if sasgametype != "CHA" %}disabled{% endif %}">
                                    <input type="radio" name="stageNumber" value="2" class="form-control">2 круг
                                </label>
                            </div>
                        </div>
                    {% endif %}
                    {# Поля внутри доступны только для кругового Первенства #}

                    </div>

                    <div class="row">

                        <div class="btn-group">
                            <label class="btn-label" for="gameDate">Дата матча </label>
                            <div class="btn-group">
                                <input type="date" name="gameDate" value="{{ lgp.gameDate }}" size="10" class="datetimepicker form-control">
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="btn-group">
                            <label class="btn-label" for="filterHT">Команда хозяев </label>
                            <select class="selectpicker" name="filterHT" data-live-search="true" data-style="btn-info" data-width="auto">
                                <option value="0">выберите команду</option>
                                {% for lsast in listSAST %}
                                    <option value="{{ lsast.team_ID.team_ID }}" {% if lgp.homeTeam_ID.team_ID.team_ID == lsast.team_ID.team_ID %}selected{% endif %}>{{ lsast.team_ID.teamName }}</option>
                                {% endfor %}
                            </select>

                            <label class="btn-label" for="filterGT">Команда гостей </label>
                            <select class="selectpicker" name="filterGT" data-live-search="true" data-style="btn-info" data-width="auto">
                                <option value="0">выберите команду</option>
                                {% for lsast in listSAST %}
                                    <option value="{{ lsast.team_ID.team_ID}}" {% if lgp.guestTeam_ID.team_ID.team_ID == lsast.team_ID.team_ID %}selected{% endif %}>{{ lsast.team_ID.teamName }}</option>
                                {% endfor %}
                            </select>
                        </div>

                    </div>

                    <div class="row">

                        <div class="btn-group">
                            <label class="btn-label">Счёт матча </label>
                            <input type="number" name="HTscoreGame" value="{{ lgp.homeTeamScoreGame }}" class="form-control"> : <input type="number" name="GTscoreGame" value="{{ lgp.guestTeamScoreGame }}" class="form-control">
                        </div>
                    </div>

                {# поля внутри д.б. доступны только в матчах стадии плэй-офф #}
                {% if sastype == "P" %}
                    <div class="row">

                        <div class="btn-group">
                            <label class="btn-label">Счёт серии 11-метровых </label>
                            <input type="number" name="HTscore11m" value="{{ lgp.homeTeamScore11m }}" class="form-control"> : <input type="number" name="GTscore11m" value="{{ lgp.guestTeamScore11m }}" class="form-control">
                        </div>

                    </div>

                    <div class="row">

                        <div class="btn-group">
                            <input type="checkbox" name="is_Semifinal" value="1" class="checkbox" {% if lgp.is_Semifinal == True %}checked{% endif %}>
                            <input type="hidden"   name="is_Semifinal" value="0">
                            <label for="is_Semifinal" class="btn-label"> полуфинальный матч плэй-офф</label>
                        </div>

                    </div>

                    <div class="row">

                        <div class="btn-group">
                            <input type="checkbox" name="is_Final" value="1" class="checkbox" {% if lgp.is_Final == True %}checked{% endif %}>
                            <input type="hidden"   name="is_Final" value="0">
                            <label for="is_Final" class="btn-label"> финальный матч плэй-офф</label>
                        </div>

                    </div>
                {% endif %}
                {# поля внутри д.б. доступны только в матчах стадии плэй-офф #}
                </div>

                <div class="modal-footer">
                    <a class="btn btn-danger" href="{{ url_for('listGP', seasonid = seasonid, ageid = ageid, sasid = sasid) }}">Отмена</a>
                    <button class="btn btn-success" type="submit" name="modify" value="update">Сохранить</button>
                </div>

            </div>
        </div>
    </div>
</form>
