{% extends "index.jinja.html" %}

{% set active_group = "Source" %}
{% set active_page  = "City"   %}
{% set title        = "Города, в которых расположены юношеские спортивные школы" %}

{% block body %}

{% include 'header.jinja.html' with context %}

<div class="row">

    <div class="col-lg-1"></div>

    <div class="col-lg-10">
        <table id="listCity" class="table-striped table-hover table-condensed table-responsive" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <td class="tableInputLeft">
                    <a class="form-control flat btn-success input-sm" data-toggle="modal" data-target="#Modal_create">
                        <i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;<span>Добавить</span>
                    </a>
                </td>
                <td class="tableNumber">#</td>
                <td class="tableText">Город</td>
                <td class="tableText">Спортивные школы</td>
                <td class="tableInputRight"></td>
            </tr>
        </thead>
        <tbody>
            {% for lc in listCity %}
            <tr>
                <td class="tableInputLeft">
                    <a class="form-control flat btn-warning input-sm" data-toggle="modal" data-target="#Modal_update_{{ lc.city_ID }}">
                        <i class="glyphicon glyphicon-pencil"></i>&nbsp;&nbsp;<span>Изменить</span>
                    </a>
                </td>
                <td class="tableNumber">{{ loop.index }}</td>
                <td class="tableText">{{ lc.cityName }}</td>
                <td class="tableText">
                    {% if lc.countSchools == 0 %}нет{% endif %}
                    {% if lc.countSchools > 0 %}<a href="/city/{{ lc.city_ID }}/school">{% endif %}
                        {{ lc.countSchools }}
                    {% if lc.countSchools > 0 %}</a>{% endif %}
                </td>
                <td class="tableInputRight">
                    {% include "includes/deleteCity.jinja.html" %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>

    </div>

    <div class="col-lg-1"></div>

</div>

{% include "includes/createCity.jinja.html" %}

{% for lc in listCity %}
    {% include "includes/updateCity.jinja.html" %}
{% endfor %}

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='customization/js/formValidation.js') }}"></script>
{% endblock %}
