{% for list_of_City_item in list_of_City %}
<div id="Modal_editCity_{{list_of_City_item.city_ID}}" class="modal fade modal-lg" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" aria-labelledby="Modal_editCity_Label">Изменить город</h3>
            </div>

            <div class="modal-body">
                <div class="btn-group">
                    <label class="btn-label" for="editCity_cityName">Город</label> <input id="editCity_cityName_{{list_of_City_item.city_ID}}" class="form-control" name="editCity_cityName" type="text" value="{{ list_of_City_item.cityName }}">
                </div>
            </div>

            <div class="modal-footer">
                <input id="deleteCity_{{ list_of_City_item.city_ID }}" type="text" name="editCity_cityID" value="{{ list_of_City_item.city_ID }}">
                <button type="cancel" class="btn btn-danger" data-dismiss="modal">Отмена</button>
                <button type="submit" class="btn btn-success">Сохранить</button>
            </div>

        </div>
    </div>
</div>
{% endfor %}