<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{% block title %}{% endblock %}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{{ url_for('static', filename='bootstrap/ico/favicon.ico') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-select/bootstrap-select.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-switch/bootstrap-switch.css') }}">
<!--
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.min.css') }}">
-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/flat-ui.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/style.css') }}">
</head>
<body role="document">

<div id="top-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown{# {%+ if sourceCity.isActive="active" or sourceSchool.isActive="active" or sourceTeam.isActive="active" or sourceStage.isActive="active" or sourceSeason.isActive="active" %} active{% endif %} #}">
                    <a class="dropdown-toggle" data-toggle="dropdown">Исходные данные <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li{# {%+ if sourceCity.isActive="active" #%} class="active"{% endif %} #}><a href="/city">Города</a></li>
                        <li{# {%+ if sourceSchool.isActive="active" %} class="active"{% endif %} #}><a href="/school">Школы</a></li>
                        <li{# {%+ if sourceTeam.isActive="active" %} class="active"{% endif %} #}><a href="/team">Команды</a></li>
                        <li class="divider"></li>
                        <li{# {%+ if sourceStage.isActive="active" %} class="active"{% endif %} #}><a href="/stage.html">Игровые стадии</a></li>
                        <li{# {%+ if sourceSeason.isActive="active" %} class="active"{% endif %} #}><a href="/season.html">Сезоны</a></li>
                    </ul>
                </li>
                <li class="dropdown{# {%+ if seasonAgeStage.isActive="active" or seasonAgeStageTeam.isActive="active" %} active{% endif %} #}">
                    <a class="dropdown-toggle" data-toggle="dropdown">Календари соревнований <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li{# {%+ if seasonAgeStage.isActive="active" %} class="active"{% endif %} #}><a href="/sas">Зоны/группы по возрастам</a></li>
                        <li{# {%+ if seasonAgeStageTeam.isActive="active" %} class="active"{% endif %} #}><a href="/sast">Команды по зонам/группам</a></li>
                    </ul>
                </li>
                <li class=""><a href="/gp">Результаты матчей</a></li>
                <li class="dropdown{# {%+ if sourceCity.isActive="active" or sourceCity.isActive="active" or sourceTeam.isActive="active" or sourceStage.isActive="active" or sourceSeason.isActive="active" %} active{% endif %} #}">
                    <a class="dropdown-toggle" data-toggle="dropdown">Текущий рейтинг <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li{# {%+ if schoolRating.isActive="active" %} class="active"{% endif %} #}><a href="/schoolrating.html">Школы</a></li>
                        <li{# {%+ if teamRating.isActive="active" %} class="active"{% endif %} #}><a href="/teamrating.html">Команды</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container wrapper" role="main">

<div class="page-header">
    <h3 class="header">{{ self.title() }}</h3>
</div>

{% block body %}{% endblock %}

</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-select/bootstrap-select.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-select/bootstrap-select-enabler.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-switch/bootstrap-switch.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-switch/bootstrap-switch-enabler.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap/js/flatui-checkbox.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap/js/flatui-radio.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap/js/zoneGroupPlayoffToggle.js') }}"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</body>