{% extends "index.html" %}

{% set active_group = "Source" %}
{% set active_page  = "Stage"  %}

{% block title %}Стадии, в рамках которых проходят соревнования{% endblock %}

{% block body %}

<div class="row">

    <div class="col-lg-1"></div>

    <div class="col-lg-10">
        <table id="listStage" class="table-striped table-hover table-condensed table-responsive" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <td class="tableInputLeft">
                    <a class="form-control flat btn-success input-sm" type="submit" name="new" data-toggle="modal" data-target="#Modal_create">
                        <i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;<span>Добавить</span>
                    </a>
                </td>
                <td class="tableNumber">#</td>
                <td class="tableText">Стадия</td>
                <td class="tableText">Название стадии</td>
                <td class="tableInputRight"></td>
            </tr>
        </thead>
        <tbody>
            {% for lst in listStage %}
            <tr>
                <td class="tableInputLeft">
                    <a class="form-control flat btn-warning input-sm" type="submit" name="edit" data-toggle="modal" data-target="#Modal_update_{{ lst.stage_ID }}">
                        <i class="glyphicon glyphicon-pencil"></i>&nbsp;&nbsp;<span>Изменить</span>
                    </a>
                </td>
                <td class="tableNumber">{{ loop.index }}</td>
                <td class="tableText">
                    {% if lst.stageType == "Z" %}зона{% endif %}
                    {% if lst.stageType == "G" %}группа{% endif %}
                    {% if lst.stageType == "P" %}плэй-офф{% endif %}
                </td>
                <td class="tableText">{{ lst.stageName }}</td>
                <td class="tableInputRight">
                    {% include "includes/deleteStage.html" %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>

    <div class="col-lg-1"></div>

</div>

{% include "includes/createStage.html" %}

{% for lst in listStage %}
    {% include "includes/updateStage.html" %}
{% endfor %}

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='customization/js/formValidation.js') }}"></script>
{% endblock %}
