{% extends "index.html" %}

{% block title %}Войти в систему{% endblock %}

{% block body %}

    {% if error %}
        <p class=error><strong>Ошибка входа:</strong> {{ error }}
    {% endif %}

    <div class="row" style="text-align: center; margin: 0 auto; width: 25%;">

        <form id="loginForm" class="flat-form form-group" name="loginForm" action="{{ url_for('login') }}" method="post" style="text-align: center;">
            <div class="input-group">
                <div class="input-group">
                    <i class="input-group-addon glyphicon glyphicon-user"></i>
                    <input id="authFormLogin" class="form-control" type="text" name="userName" placeholder="Имя">
                </div>
                <div class="input-group">
                    <i class="input-group-addon glyphicon glyphicon-lock"></i>
                    <input id="authFormPassword" class="form-control"  type="password" name="userPassword" placeholder="Пароль">
                </div>
                <span class="input-group-btn">
                    <input id="authFormSubmit" class="btn btn-primary btn-wide" type="submit" name="loginFormSubmit" value="Зарегистрироваться">
                </span>
            </div>
        </form>

    </div>

{% endblock %}