{% extends "index.html" %}

{% set active_group = "Calendar" %}
{% set active_page  = "SAST"     %}

{% set title = "Команды, участвующие в выбранной игровой стадии" %}

{% block body %}

{% include 'header.html' with context %}

<div class="row">

    <div class="col-lg-5" style="text-align: right;">
 
        <div class="btn-group">
            <label class="btn-label" for="chooseSeason">Выберите сезон</label>
            <br>
            <select id="filterSeasonforSAST" name="filterSeasonforSAST" class="selectpicker" data-live-search="true" data-style="btn-info">
                <option value="0" {% for lse in listSeason %}{% if lse.season_ID == seasonid %}selected{% endif %}{% endfor %}>
                    {% if listSeason.count() >  0 %}выберите сезон{% endif %}
                    {% if listSeason.count() == 0 %}{% endif %}
                </option>
            {% for lse in listSeason %}
                <option value="{{ lse.season_ID }}" {% if lse.season_ID == seasonid %}selected{% endif %}>{{ lse.seasonName }}</option>
            {% endfor %}
            </select>
        </div>

    </div>

    <div class="col-lg-2" style="text-align: center;">

            <div class="form-group btn-group" data-toggle="buttons">
                <label class="btn-label">Выберите возраст</label>
                <div class="btn-group listAgeTop">
                {% for la in listAge %}
                    {% if loop.index in range(1,5) %}
                    <label for="age_ID_{{ la.age_ID }}" class="btn btn-info {% if la.age_ID == ageid %}active{% endif %}">
                        <input id="age_ID_{{ la.age_ID }}" type="radio" name="filterAgeforSAST" value="{{ la.age_ID }}" {% if la.age_ID == ageid %}checked{% endif %}>{{ la.ageName }}
                    </label>
                    {% endif %}
                {% endfor %}
                </div>
                <div class="btn-group listAgeBottom">
                {% for la in listAge %}
                    {% if loop.index in range(5,9) %}
                    <label for="age_ID_{{ la.age_ID }}" class="btn btn-info {% if la.age_ID == ageid %}active{% endif %}">
                        <input id="age_ID_{{ la.age_ID }}" type="radio" name="filterAgeforSAST" value="{{ la.age_ID }}" {% if la.age_ID == ageid %}checked{% endif %}>{{ la.ageName }}
                    </label>
                    {% endif %}
                {% endfor %}
                </div>
            </div>

    </div>

    <div class="col-lg-5" style="text-align: left;"></div>

</div>

<div class="row">

    <div class="col-lg-5" style="text-align: right;">

        <div class="form-group btn-group">
            <label class="btn-label" for="chooseZone">&nbsp;</label>
            <br>
            <br>
            <select id="chooseZone" name="stage_ID" class="chooseZone selectpicker" data-style="btn-info" {% if sastype != "Z" or listSAS_Z.count() == 0 %}disabled{% endif %}>
                <option value="0" {% for lsasz in listSAS_Z %}{% if lsasz.SAS_ID == sasid %}selected{% endif %}{% endfor %}>
                    {% if listSAS_Z.count() >  0 %}выберите зону{% endif %}
                    {% if listSAS_Z.count() == 0 %}{% endif %}
                </option>
            {% for lsasz in listSAS_Z %}
                <option value="{{ lsasz.SAS_ID }}" {% if lsasz.SAS_ID == sasid %}selected{% endif %}>{{ lsasz.stage_ID.stageName }}</option>
            {% endfor %}
            </select>
        </div>

    </div>

    <div class="col-lg-2" style="text-align: center;">

        <div id="zoneGroupPlayoffToggle" class="zoneGroupPlayoffToggle btn-group btn-toggle" data-toggle="buttons">
            <label class="btn-label" for="chooseSeason" style="width: 100%; text-align: center;">Выберите стадию</label><br>
                <label class="btn btn-info {% if sastype == "Z" %}active{% endif %} {% if listSAS_Z.count() == 0 %}disabled{% endif %}">
                    <input id="zoneGroupPlayoffToggle_Z" type="radio" name="zoneGroupPlayoffToggle" value="Z" 
                    {% if sastype == "Z" %}checked{% endif %}
                    {% if listSAS_Z.count() == 0 %}disabled{% endif %}>зона
                </label>
                <label class="btn btn-info {% if sastype == "G" %}active{% endif %} {% if listSAS_G.count() == 0 %}disabled{% endif %}">
                    <input id="zoneGroupPlayoffToggle_G" type="radio" name="zoneGroupPlayoffToggle" value="G" 
                    {% if sastype == "G" %}checked{% endif %}
                    {% if listSAS_G.count() == 0 %}disabled{% endif %}>группа
                </label>
                <br>
                <label class="btn btn-info {% if sastype == "P" %}active{% endif %} {% if listSAS_P.count() == 0 %}disabled{% endif %}">
                    <input id="zoneGroupPlayoffToggle_P" type="radio" name="zoneGroupPlayoffToggle" value="{% for lsasp in listSAS_P %}{{ lsasp.SAS_ID }}{% endfor %}" 
                    {% if sastype == "P" %}checked{% endif %} 
                    {% if listSAS_P.count() == 0 %}disabled{% endif %}>плэй-офф
                </label>
        </div>

    </div>

    <div class="col-lg-5" style="text-align: left;">

        <div class="btn-group">
            <label class="btn-label" for="chooseGroup">&nbsp;</label>
            <br>
            <br>
            <select id="chooseGroup" name="stage_ID" class="chooseGroup selectpicker" data-style="btn-info" {% if sastype != "G" or listSAS_G.count() == 0 %}disabled{% endif %}>
                <option value="0" {% for lsasg in listSAS_G %}{% if lsasg.SAS_ID == sasid %}selected{% endif %}{% endfor %}>
                    {% if listSAS_G.count() >  0 %}выберите группу{% endif %}
                    {% if listSAS_G.count() == 0 %}{% endif %}
                </option>
            {% for lsasg in listSAS_G %}
                <option value="{{ lsasg.SAS_ID }}" {% if lsasg.SAS_ID == sasid %}selected{% endif %}>{{ lsasg.stage_ID.stageName }}</option>
            {% endfor %}
            </select>
        </div>

    </div>
</div>

<br>

<div class="row">

    <div class="col-lg-1"></div>

    <div class="col-lg-10">
        {% if not seasonid == 0 %}
        {% if not ageid    == 0 %}
        {% if not sasid    == 0 %}
        <table id="listSAST" class="table-striped table-hover table-condensed table-responsive" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <td class="tableInputLeft">
                    <a class="form-control flat btn-success input-sm" type="submit" name="new" data-toggle="modal" data-target="#Modal_create"><i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;<span>Добавить</span></a>
                </td>
                <td class="tableNumber">#</td>
                <td class="tableText">Команда</td>
            {% if sastsubstagecount >= 1 %}
                <td class="tableText">Подгруппа</td>
            {% endif %}
                <td class="tableInputRight"></td>
            </tr>
        </thead>
        <tbody>
            {% for lsast in listSAST %}
            <tr>
                <td class="tableInputLeft">
                    <a class="form-control flat btn-warning input-sm" type="submit" name="edit" data-toggle="modal" data-target="#Modal_update_{{ lsast.SAST_ID }}"><i class="glyphicon glyphicon-pencil"></i>&nbsp;&nbsp;<span>Изменить</span></a>
                </td>
                <td class="tableNumber">{{ loop.index }}</td>
                <td class="tableText">{{ lsast.team_ID.teamName }}</td>
            {% if sastsubstagecount >= 1 %}
                <td class="tableText">
                    {% if lsast.substage_ID.stageType == "G" %}
                        {% if lsast.substage_ID.stageName == "А" or lsast.substage_ID.stageName == "Б" or lsast.substage_ID.stageName == "В" or lsast.substage_ID.stageName == "Г" or lsast.substage_ID.stageName == "Д" %}
                            группа {{ lsast.substage_ID.stageName }}
                        {% endif %}
                    {% endif %}
                 </td>
            {% endif %}
                <td class="tableInputRight">
                    {% include "includes/deleteSAST.html" %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        {% endif %}
        {% endif %}
        {% endif %}
    </div>

    <div class="col-lg-1"></div>

</div>

{% include "includes/createSAST.html" %}

{% for lsast in listSAST %}
    {% include "includes/updateSAST.html" %}
{% endfor %}

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='customization/js/selectAction_SAST.js') }}"></script>
    <script src="{{ url_for('static', filename='customization/js/zoneGroupPlayoffToggle.js') }}"></script>
    <script src="{{ url_for('static', filename='customization/js/formValidation.js') }}"></script>
{% endblock %}
