{% extends "index.jinja.html" %}

{% set active_group = "Source" %}
{% set active_page  = "School" %}

{% set title = "Школы, в которых находятся юношеские команды разных возрастов" %}

{% block body %}

{% include 'header.jinja.html' with context %}

<form id="filterCity" class="flat-form" name="filterCity">
    <div class="row" style="margin-left: 15rem;">
        <div class="btn-group">
            <label class="btn-label" for="filterCityforSchool">Выберите город</label>
            <select id="filterCityforSchool" class="selectpicker" name="filterCityforSchool" data-live-search="true" data-style="btn-info">
                <option value="0" {% for lc in listCity %}{% if lc.city_ID == cityid %} selected{% endif %}{% endfor %}>выберите город</option>
            {% for lc in listCity %}
                <option value="{{ lc.city_ID }}" {% if lc.city_ID == cityid %} selected{% endif %}>{{ lc.cityName }}</option>
            {% endfor %}
            </select>
        </div>
    </div>
</form>

<div class="row">

    <div class="col-lg-1"></div>

    <div class="col-lg-10">
        {% if cityname %}
        <table id="listSchool" class="table-striped table-hover table-condensed table-responsive" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <td class="tableInputLeft">
                    <a class="form-control flat btn-success input-sm" type="submit" name="new" data-toggle="modal" data-target="#Modal_create"><i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;<span>Добавить</span></a>
                </td>
                <td class="tableNumber">#</td>
                <td class="tableText">Команда</td>
                <td class="tableInputRight"></td>
            </tr>
        </thead>
        <tbody>
            {% for ls in listSchool %}
            <tr>
                <td class="tableInputLeft">
                    <a class="form-control flat btn-warning input-sm" type="submit" name="edit" data-toggle="modal" data-target="#Modal_update_{{ ls.school_ID }}"><i class="glyphicon glyphicon-pencil"></i>&nbsp;&nbsp;<span>Изменить</span></a>
                </td>
                <td class="tableNumber">{{ loop.index }}</td>
                <td class="tableText"><a href="/city/{{ ls.city_ID.city_ID }}/school/{{ ls.school_ID }}/team">{{ ls.schoolName }}</a></td>
                <td class="tableInputRight">
                    {% include "includes/deleteSchool.jinja.html" %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        {% endif %}
    </div>

    <div class="col-lg-1"></div>

</div>

{% include "includes/createSchool.jinja.html" %}

{% for ls in listSchool %}
    {% include "includes/updateSchool.jinja.html" %}
{% endfor %}

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='customization/js/selectAction_School.js') }}"></script>
    <script src="{{ url_for('static', filename='customization/js/formValidation.js') }}"></script>
{% endblock %}
