{% extends "index.html" %}

{% block body %}
<div class="page-header">
    <h3 class="header">Сезоны, в рамках которых проводятся соревнования</h3>
</div>

<form id="editSeason" class="flat-form">

<div class="row">

    <div class="col-lg-1"></div>

    <div class="col-lg-10">
        <table id="listSeason" class="table-striped table-hover table-condensed table-responsive" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <td class="tableInputLeft"><a class="form-control flat btn-success input-sm" type="submit" name="new" data-toggle="modal" data-target="#Modal_editSeason"><i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;<span>Добавить</span></a></td>
                <td class="tableNumber">#</td>
                <td class="tableText">Сезон</td>
                <td class="tableInputRight"></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tableInputLeft"><a class="form-control flat btn-warning input-sm" type="submit" name="edit" data-toggle="modal" data-target="#Modal_editSeason"><i class="glyphicon glyphicon-pencil"></i>&nbsp;&nbsp;<span>Изменить</span></a></td>
                <td class="tableNumber">1</td>
                <td class="tableText">2014</td>
                <td class="tableInputRight"><button class="form-control flat btn-danger input-sm" type="submit" name="delete"><span>Удалить</span>&nbsp;&nbsp;<i class="glyphicon glyphicon-remove"></i></button></td>
            </tr>
        </tbody>
        </table>
    </div>

    <div class="col-lg-1"></div>

</div>

<div id="Modal_editSeason" class="modal fade modal-lg" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" aria-labelledby="Modal_editSeason_Label">Добавить/изменить сезон</h3>
            </div>

            <div class="modal-body">
                <div class="btn-group">
                    <label class="btn-label" for="editSeason_seasonName">Сезон</label> <input id="editSeason_seasonName" class="form-control" name="editSeason_seasonName" type="text">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-success">Сохранить</button>
            </div>

        </div>
    </div>
</div>

</form>

{% endblock %}