{% extends "index.html" %}

{% set active_group = "Source" %}
{% set active_page = "City" %}

{% block title %}Города, в которых находятся юношеские спортивные школы{% endblock %}

{% block body %}

<div class="row">

    <div class="col-lg-1"></div>

    <div class="col-lg-10">
        <table id="listCity" class="table-striped table-hover table-condensed table-responsive" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <td class="tableInputLeft">
                    <a class="form-control flat btn-success input-sm" type="submit" name="new" data-toggle="modal" data-target="#Modal_addCity">
                        <i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;<span>Добавить</span>
                    </a>
                </td>
                <td class="tableNumber">#</td>
                <td class="tableText">Город</td>
                <td class="tableInputRight"></td>
            </tr>
        </thead>
        <tbody>
            {% for listCity_item in listCity %}
            <tr>
                <td class="tableInputLeft">
                    <a class="form-control flat btn-warning input-sm" type="submit" name="edit" data-toggle="modal" data-target="#Modal_update_{{ listCity_item.city_ID }}">
                        <i class="glyphicon glyphicon-pencil"></i>&nbsp;&nbsp;<span>Изменить</span>
                    </a>
                </td>
                <td class="tableNumber">{{ loop.index }}</td>
                <td class="tableText">{{ listCity_item.cityName }}</td>
                <td class="tableInputRight">
                    {% include "includes/deleteCity.html" %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>

    </div>

    <div class="col-lg-1"></div>

</div>

{% include "includes/createCity.html" %}

{% include "includes/updateCity.html" %}

{% endblock %}