
<form class="flat-form create-form" name="create" method="POST" action="{{ url_for('createSAS', seasonid = seasonid, ageid = ageid) }}">
    <div id="Modal_create" class="modal fade modal-lg" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <a href="{{ url_for('listSAS', seasonid = seasonid, ageid = ageid) }}">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                    </a>
                    <h3 class="modal-title" aria-labelledby="Modal_create_Label">Создать новую игровую стадию для возраста {{ agename }} в сезоне {{ seasonname }}</h3>
                </div>

                <div class="modal-body">

                    <div class="row">

                        <div class="col-lg-4" style="text-align: right;">

                            <div class="form-group btn-group">
                                <label class="btn-label" for="chooseZone">&nbsp;</label>
                                <br>
                                <br>
                                <select name="stage" class="chooseZone selectpicker" data-style="btn-info">
                            {% for lst in listStage %}
                                {% if lst.stageType == "Z" %}
                                    <option value="{{ lst.stage_ID }}">{{ lst.stageName }}</option>
                                {% endif %}
                            {% endfor %}
                                </select>
                            </div>

                        </div>

                        <div class="col-lg-4" style="text-align: center;">

                            <div class="zoneGroupPlayoffToggle btn-group btn-toggle" data-toggle="buttons">
                                <label class="btn-label" style="width: 100%; text-align: center;">Выберите стадию</label>
                                <br>
                                <label class="btn btn-info">
                                    <input type="radio" name="zoneGroupPlayoffToggle" value="Z">зона
                                </label>
                                <label class="btn btn-info">
                                    <input type="radio" name="zoneGroupPlayoffToggle" value="G">группа
                                </label>
                                <br>
                                <label class="btn btn-info">
                                    <input type="radio" name="zoneGroupPlayoffToggle" value="P">плэй-офф
                                </label>
                            </div>
                    {% for lst in listStage %}
                        {% if lst.stageType == "P" %}
                            <input class="choosePlayoff" type="hidden" name="stage" value="{{ lst.stage_ID }}">
                        {% endif %}
                    {% endfor %}

                        </div>

                        <div class="col-lg-4" style="text-align: left;">

                            <div class="btn-group">
                                <label class="btn-label" for="chooseGroup">&nbsp;</label>
                                <br>
                                <br>
                                <select name="stage" class="chooseGroup selectpicker" data-style="btn-info">
                            {% for lst in listStage %}
                                {% if lst.stageType == "G" %}
                                    <option value="{{ lst.stage_ID }}">{{ lst.stageName }}</option>
                                {% endif %}
                            {% endfor %}
                                </select>
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-lg-4" style="text-align: right;">

                            <div class="form-group btn-group">
                                <label class="btn-label" for="startDate">Начало соревнований</label> 
                                <input class="datetimepicker form-control" type="date" name="startDate" value="{% if startDate %}{{ lsas.startDate }}{% endif %}">
                            </div>

                        </div>

                        <div class="col-lg-4" style="text-align: center;">

                            <div class="gameType btn-group btn-toggle" data-toggle="buttons">
                                <label class="btn-label" for="gameType" style="width: 100%; text-align: center;">Тип соревнования</label>
                                <br>
                            {% for lgt in listGameType %}
                                <label class="btn btn-info">
                                    <input type="radio" name="gameType" value="{{ lgt.gameType_ID }}">
                                    {% if lgt.gameTypeName == "CHA" %}Первенство{% endif %}
                                    {% if lgt.gameTypeName == "CUP" %}Кубок{% endif %}
                                </label>
                            {% endfor %}
                            </div>

                        </div>

                        <div class="col-lg-4" style="text-align: right;">

                            <div class="form-group btn-group">
                                <label class="btn-label" for="finishDate">Конец соревнований</label> 
                                <input class="datetimepicker form-control" type="date" name="finishDate" value="{% if finishDate %}{{ lsas.finishDate }}{% endif %}">
                            </div>

                        </div>

                    </div>

                </div>

                <div class="modal-footer">
                    <a class="btn btn-danger" href="{{ url_for('listSAS', seasonid = seasonid, ageid = ageid) }}">Отмена</a>
                    <button class="btn btn-success" type="submit" name="modify" value="create">Сохранить</button>
                </div>

            </div>
        </div>
    </div>
</form>
