
<form class="flat-form create-form" name="create" method="POST" action="{{ url_for('createSchool', cityid = cityid) }}">
    <div id="Modal_create" class="modal fade modal-lg" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <a href="{{ url_for('listSchool', cityid = cityid) }}">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                    </a>
                    <h3 class="modal-title" aria-labelledby="Modal_create_Label">Добавить школу в {{ cityname }}</h3>
                </div>

                <div class="modal-body">
                    <div class="form-group btn-group">
                        <label class="btn-label" for="schoolName">Школа</label> 
                        <input class="form-control" type="text" name="schoolName"></input>
                    </div>
                </div>

                <div class="modal-footer">
                    <a class="btn btn-danger" href="{{ url_for('listSchool', cityid = cityid) }}">Отмена</a>
                    <button class="btn btn-success" type="submit" name="modify" value="create">Сохранить</button>
                </div>

            </div>
        </div>
    </div>
</form>
