
<div id="modify-modal" class="modal fade modal-lg" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="modify-form" class="flat-form modify-form" name="modify" method="POST" action="">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span>
                </button>
                <h3 id="modal-title" class="modal-title" aria-labelledby="modify-modal-label"></h3>
            </div>

            <div class="modal-body">
                <div class="form-group btn-group">
                    <label class="btn-label" for="teamName">Команда</label> 
                    <input id="teamName" class="form-control" type="text" name="teamName" value="">
                </div>
                <br>
                <div class="form-group btn-group" data-toggle="buttons">
                    <label class="btn-label">Выберите возраст</label>
                    <div class="btn-group listAgeTop">
                    {% for la in listAge %}
                        {% if loop.index in range(1,5) %}
                        <label for="age_ID_{{ la.age_ID }}" class="btn btn-info age_ID">
                            <input id="age_ID_{{ la.age_ID }}" type="radio" name="age_ID" value="{{ la.age_ID }}">{{ la.ageName }} г.р.
                        </label>
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div class="btn-group listAgeBottom">
                    {% for la in listAge %}
                        {% if loop.index in range(5,9) %}
                        <label for="age_ID_{{ la.age_ID }}" class="btn btn-info age_ID">
                            <input id="age_ID_{{ la.age_ID }}" type="radio" name="age_ID" value="{{ la.age_ID }}">{{ la.ageName }} г.р.
                        </label>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Отмена</button>
                <button class="btn btn-success modify-button">Сохранить</button>
            </div>

            </form>
        </div>
    </div>
</div>

