
<form class="flat-form update-form" name="update" method="POST" action="{{ url_for('updateSchool', cityid = ls.city_ID.city_ID, schoolid = ls.school_ID) }}">
    <div id="Modal_update_{{ ls.school_ID }}" class="modal fade modal-lg" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <a href="{{ url_for('listSchool', cityid = cityid) }}">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                    </a>
                    <h3 class="modal-title" aria-labelledby="Modal_update_Label">Изменить школу {{ ls.schoolName }} ({{ cityname }})</h3>
                </div>

                <div class="modal-body">
                    <div class="form-group btn-group">
                        <label class="btn-label" for="schoolName">Школа</label> 
                        <input class="form-control" type="text" name="schoolName" value="{{ ls.schoolName }}">
                    </div>
                </div>

                <div class="modal-footer">
                    <a class="btn btn-danger" href="{{ url_for('listSchool', cityid = cityid) }}">Отмена</a>
                    <button class="btn btn-success" type="submit" name="modify" value="update">Сохранить</button>
                </div>

            </div>
        </div>
    </div>
</form>
