{% extends "index.jinja.html" %}

{% set active_group = "Source" %}
{% set active_page  = "City"   %}
{% set title        = "Города, в которых расположены юношеские спортивные школы" %}

{% block body %}

<div class="row">

    <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0 col-lg-10 col-lg-offset-1">
        <table id="listCity" class="table-striped table-hover table-condensed table-responsive display dt-responsive nowrap" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <td class="dt max-tablet"></td>
                <td class="tableInputLeft all">
                    <a class="form-control flat btn-success input-sm" data-toggle="modal" data-target="#modify-modal" data-pk-id="0">
                        <i class="glyphicon glyphicon-plus"></i><span>&nbsp;&nbsp;Добавить</span>
                    </a>
                </td>
                <td class="tableNumber all">#</td>
                <td class="tableText all">Город</td>
                <td class="tableText min-tablet">Спортивные школы</td>
                <td class="tableInputRight all"></td>
            </tr>
        </thead>
        <tbody>
            {% for lc in listCity %}
            <tr data-pk-id="{{ lc.city_ID }}" data-cityname="{{ lc.cityName }}">
                <td class="dt">&nbsp;</td>
                <td class="tableInputLeft">
                    <a class="update-button form-control flat btn-warning input-sm" data-toggle="modal" data-target="#modify-modal" data-pk-id="{{ lc.city_ID }}">
                        <i class="glyphicon glyphicon-pencil"></i><span>&nbsp;&nbsp;Изменить</span>
                    </a>
                </td>
                <td class="tableNumber">{{ loop.index }}</td>
                <td class="tableText">{{ lc.cityName }}</td>
                <td class="tableText">
                    <a href="/city/{{ lc.city_ID }}/school">
                        {% if lc.countSchools == 0 %} <span class="badge badge-default">нет</span> {% endif %}
                        {% if lc.countSchools > 0 %}  <span class="badge">{{ lc.countSchools }}</span> {% endif %}
                    </a>
                </td>
                <td class="tableInputRight">
                    <a class="delete-button form-control flat btn-danger input-sm" data-pk-id="{{ lc.city_ID }}">
                        <span>Удалить&nbsp;&nbsp;</span><i class="glyphicon glyphicon-remove"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>

    </div>

</div>

{% include "includes/modifyCity.jinja.html" %}

{% include "includes/delete.jinja.html" %}

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='customization/js/formValidation.js') }}"></script>
{% endblock %}
