<!DOCTYPE html>
<html lang="ru">
<head>
    {% set title = title %}
    <title>Юношеские соревнования МОА "Черноземье"{% if title %} > {{ title }}{% endif %}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{{ url_for('static', filename='bootstrap/ico/favicon.ico') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-select/css/bootstrap-select.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-switch/css/bootstrap-switch.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-touchspin/css/bootstrap-touchspin.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-validator/css/bootstrap-validator.css') }}">
<!--
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.min.css') }}">
-->
<!--     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='data-tables/css/dataTables.fixedHeader.css') }}"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='data-tables/css/dataTables.bootstrap.css') }}">
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='data-tables/css/dataTables.responsive.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datetimepicker/css/jquery.datetimepicker.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='flat-ui/css/flat-ui.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='customization/css/style.css') }}">
</head>
<body role="document">

{% set active_group = active_group|default('') -%}
{% set active_page  =  active_page|default('') -%}

<div id="top-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">

{% if session['logged_in'] %}

    <div class="userName"><a href="/">{{ session['userName'] }}</a></div>

    <div class="container">

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown {% if active_group == 'Source' %}active{% endif %}">
                    <a class="dropdown-toggle" data-toggle="dropdown">Исходные данные <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li role="presentation" class="dropdown-header {% if active_group == 'Source' %}active{% endif %}">Исходные данные</li>
                        <li {% if active_page == 'City'   %}class="active"{% endif %}><a href="/city">Города</a></li>
                        <li {% if active_page == 'School' %}class="active"{% endif %}><a href="/city/0/school">Школы</a></li>
                        <li {% if active_page == 'Team'   %}class="active"{% endif %}><a href="/city/0/school/0/team">Команды</a></li>
                        <li class="divider"></li>
                        <li {% if active_page == 'Stage'  %}class="active"{% endif %}><a href="/stage">Игровые стадии</a></li>
                        <li {% if active_page == 'Season' %}class="active"{% endif %}><a href="/season">Сезоны</a></li>
                    </ul>
                </li>
                <li class="dropdown {% if active_group == 'Calendar' %}active{% endif %}">
                    <a class="dropdown-toggle" data-toggle="dropdown">Календари соревнований <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li role="presentation" class="dropdown-header {% if active_group == 'Calendar' %}active{% endif %}">Календари соревнований</li>
                        <li {% if active_page == 'SAS'  %}class="active"{% endif %}><a href="/season/0/age/0/stage">Игровые этапы по возрастам</a></li>
                        <li {% if active_page == 'SAST' %}class="active"{% endif %}><a href="/season/0/age/0/stage/0/team">Команды в игровых этапах</a></li>
                        <li {% if active_page == 'GP'   %}class="active"{% endif %}><a href="/season/0/age/0/stage/0/gp">Матчи и их результаты</a></li>
                    </ul>
                </li>
                <li class="dropdown {% if active_group == 'Rating' %}active{% endif %}">
                    <a class="dropdown-toggle" data-toggle="dropdown {% if active_group == 'Rating' %}active{% endif %}">Текущий рейтинг <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li role="presentation" class="dropdown-header">Текущий рейтинг</li>
                        <li {% if active_page == 'TeamRating'   %}class="active"{% endif %}><a href="/teamrating/season/0-0/age/0">Рейтинг команд</a></li>
                        <li {% if active_page == 'SchoolRating' %}class="active"{% endif %}><a href="/schoolrating/season/0-0">Рейтинг школ</a></li>
                    </ul>
                </li>
                <li {% if active_page == 'Logout' %}class="active"{% endif %}><a href="/logout">Выйти</a></li>
            </ul>
        </div>

    </div>

{% endif %}

</div>

<div class="container wrapper" role="main">

{% block body scoped %}{% endblock %}

</div>

    <script src="{{ url_for('static', filename='jquery-2.1.1.min.js') }}"></script>

    <script src="{{ url_for('static', filename='data-tables/js/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='data-tables/js/dataTables.bootstrap.js') }}"></script>
<!--    <script src="{{ url_for('static', filename='data-tables/extensions/FixedHeader/js/dataTables.fixedHeader.js') }}"></script> -->
    <script src="{{ url_for('static', filename='data-tables/js/dataTables.responsive.js') }}"></script>
    <script src="{{ url_for('static', filename='datetimepicker/js/jquery.datetimepicker.js') }}"></script>

    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-select/js/bootstrap-select.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-switch/bootstrap-switch.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-touchspin/js/bootstrap-touchspin.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-validator/js/bootstrap-validator.js') }}"></script>

    <script src="{{ url_for('static', filename='flat-ui/js/flatui-checkbox.js') }}"></script>
    <script src="{{ url_for('static', filename='flat-ui/js/flatui-radio.js') }}"></script>

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<script type="text/javascript">
    var dtable = $('table').DataTable({
        responsive: {
            breakpoints: [
                { name: 'desktop',  width: Infinity },
                { name: 'tablet-l', width: 1280 },
                { name: 'tablet-p', width: 900 },
                { name: 'mobile-l', width: 768 },
                { name: 'mobile-p', width: 480 }
            ]
        },
        oLanguage: {
            sLengthMenu:   '_MENU_ <div class="dataTables_length_caption">записей на страницу</div>',
            sSearch:       'Поиск: ',
            sZeroRecords:  '',
            sInfo:         'Страница _PAGE_ из _PAGES_',
            sInfoEmpty:    'Нет данных для отображения',
            sInfoFiltered: ' - отфильтровано из _MAX_ записей',
            sEmptyTable:   '',
            oPaginate: {
                sFirst:    '',
                sNext:     'вперёд >',
                sPrevious: '< назад',
                sLast:     ''
            }
        },
        iDisplayLength: 20,
        aLengthMenu: [ 5, 10, 20, 50, 100 ],
    });

//    new $.fn.dataTable.FixedHeader( table );

    $('.datetimepicker').datetimepicker({
        lang: 'ru',
        i18n: {
            ru: {
                months: [
                    'январь',  'февраль', 'март',
                    'апрель',  'май',     'июнь',
                    'июль',    'август',  'сентябрь',
                    'октябрь', 'ноябрь',  'декабрь',
                ],
                dayOfWeek: [
                    'вс', 'пн', 'вт', 'ср', 'чт', 'пт', 'сб',
                ],
            }
        },
        format: 'd.m.Y',
        closeOnDateSelect: true,
        dayOfWeekStart: 1,
        timepicker: false,
    });

    $('select').selectpicker();
    $('.checkbox').bootstrapSwitch();

    $('input[type="number"]').TouchSpin({
        min: 0,
        max: 100,
        step: 1,
        decimals: 0,
        verticalbuttons: true,
    });

    $('.alert').delay(3000).hide(200, 'linear');
    
</script>

<script type="text/javascript">
// Обработка вызова модальной формы редактирования данных
$('#modify-modal').on('show.bs.modal', function (modal) {
    // Запись данных из текущей строки в переменные, получаемые из контроллера
    var PK_ID = $(modal.relatedTarget).attr('data-pk-id');
    console.log('PK_ID', PK_ID);

    {% for field in modifyFields %}
        var {{ field }} = $('tr[data-pk-id="' + PK_ID + '"]').attr('data-{{ field|replace('_', '-')|lower }}');
        console.log('{{ field }}:', {{ field }});
    {% endfor %}

    // [C] Добавление новых данных         -> открытие пустой модальной формы
    // [U] Редактирование имеющихся данных -> подгрузка данных из текущей строки в модальную форму

    // Условная отрисовка заголовка модальной формы, получаемого из контроллера
    modalHeader = (PK_ID == 0) ? {{ createHeader|join(' + ')|safe }} : {{ updateHeader|join(' + ')|safe }};
    $('#modal-title').html(modalHeader);
    // Условная отрисовка действия модальной формы, получаемого из контроллера
    modalAction = (PK_ID == 0) ? {{ createAction|join(' + ')|safe }} : {{ updateAction|join(' + ')|safe }};
    $('#modify-form').attr('action', modalAction);

    // [U] Присвоение данных из текущей строки соответствующим полям модальной формы, получаемым из контроллера

    {% for field in modifyFields %}
        $('#{{ field }}').val({{ field }});
        //console.log('#{{ field }}:', $('#{{ field }}').val());
    {% endfor %}

    // [U] Условная отрисовка активных радиокнопок модальной формы
    {% for radio in modifyRadios %}
        $('label.{{ radio }}').removeClass('active');
        $('input[name="{{ radio }}"]').prop('checked', false);
        $('input#{{ radio }}_' + {{ radio }}).prop('checked', true);
        $('label[for="{{ radio }}_' + {{ radio }} + '"]').addClass('active');
    {% endfor %}

    // [U] Условная отрисовка активных пунктов выпадающих списков модальной формы (как правило, для выбора группы/зоны/плэй-офф)
    {% for select in modifySelect %}
        $('select[name="{{ select }}"] option').prop('selected', false);
        $('select[name="{{ select }}"], input[name="{{ select }}"]').prop('disabled', true);
        $('#stage_' + zoneGroupPlayoffToggle).prop('disabled', false);
        
        $('select[name="{{ select }}"] option[value="' + {{ select }} + '"]').prop('selected', true);
        $('.selectpicker').selectpicker('refresh');
    {% endfor %}

});

// Обработка вызова формы удаления данных
$('.delete-button').on('click', function () {
    // Получение данных из текущей строки
    var PK_ID = parseInt($(this).attr("data-pk-id"));

    // Условная отрисовка действия формы удаления данных, получаемого из контроллера
    $('#delete-form').attr('action', {{ deleteAction|join(' + ')|safe }});

    // Отправка данных для удаления в контроллер
    $('#delete-form').submit();
});
</script>

{% block scripts %}{% endblock %}

</body>
</html>