{% extends "index.jinja.html" %}

{% set active_page  = "Login" %}

{% block title %}Войти в систему{% endblock %}

{% block body %}

<form name="login" action="{{ url_for('login') }}" method="POST" class="flat-form">

    <div class="row">

        <div class="col-lg-3 col-lg-offset-4">

            <div class="input-group" style="display: table; height: 100%;">
                <div class="input-group" style="display: table;">
                    <i class="input-group-addon glyphicon glyphicon-user" style="border-radius: 1rem 0 0 0;"></i>
                    <input type="text" name="userLogin" placeholder="Имя" class="form-control" style="border-bottom: 0.15rem solid #3498DB; border-radius: 0; font-weight: bold;">
                </div>
                <div class="input-group" style="display: table;">
                    <i class="input-group-addon glyphicon glyphicon-lock" style="border-radius: 0 0 0 1rem;"></i>
                    <input type="password" name="userPassword" placeholder="Пароль" class="form-control" style="border-top: 0.15rem solid #3498DB; border-radius: 0; font-weight: bold;">
                </div>
                <span class="input-group-btn" style="display: table-cell; height: 100%;">
                    <input type="submit" name="login" value="Войти" class="btn btn-info btn-wide" style="height: 100%;">
                </span>
            </div>

        </div>

    </div>

</form>

{% endblock %}