{% extends "index.jinja.html" %}

{% set active_group = "Calendar" %}
{% set active_page  = "SAS"      %}
{% set title        = "Игровые стадии в выбранном сезоне" %}

{% block body %}

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-3 col-md-offset-3 col-lg-3 col-lg-offset-2" style="text-align: center;">

        <div class="btn-group">
            <label class="btn-label" for="filterSeasonforSAS">Сезон</label>
            <br>
            <select name="filterSeason" class="selectpicker" data-live-search="true" data-style="btn-info">
                <option value="0" {% for lse in listSeason %}{% if lse.season_ID == seasonid %}selected{% endif %}{% endfor %}>
                    {% if listSeason.count() >  0 %}выберите сезон{% endif %}
                    {% if listSeason.count() == 0 %}{% endif %}
                </option>
            {% for lse in listSeason %}
                <option value="{{ lse.season_ID }}" {% if lse.season_ID == seasonid %}selected{% endif %}>{{ lse.seasonName }}</option>
            {% endfor %}
            </select>

        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5" style="text-align: center;">

        <div class="filterAge btn-group form-group" data-toggle="buttons">
            <label class="btn-label">Возраст</label>
            <br>
            {% for la in listAge %}
                {% if loop.index in range(1,5) %}
                <label for="filterAge_{{ la.age_ID }}" class="btn btn-info {% if la.age_ID == ageid %}active{% endif %}">
                    <input id="filterAge_{{ la.age_ID }}" type="radio" name="filterAge" value="{{ la.age_ID }}" {% if la.age_ID == ageid %}checked{% endif %}>{{ la.ageName }} г.р.
                </label>
                {% endif %}
            {% endfor %}
            <br>
            {% for la in listAge %}
                {% if loop.index in range(5,9) %}
                <label for="filterAge_{{ la.age_ID }}" class="btn btn-info {% if la.age_ID == ageid %}active{% endif %}">
                    <input id="filterAge_{{ la.age_ID }}" type="radio" name="filterAge" value="{{ la.age_ID }}" {% if la.age_ID == ageid %}checked{% endif %}>{{ la.ageName }} г.р.
                </label>
                {% endif %}
            {% endfor %}
        </div>

    </div>

</div>

<div class="row">

    <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0 col-lg-10 col-lg-offset-1">
        {% if not seasonid == 0 %}
        {% if not ageid == 0 %}
        <table id="listSAS" class="table-striped table-hover table-condensed table-responsive display dt-responsive wrap" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <td class="dt max-mobile"></td>
                <td class="tableInputLeft all">
                    <a class="form-control flat btn-success input-sm" data-toggle="modal" data-target="#modify-modal" data-pk-id="0">
                        <i class="glyphicon glyphicon-plus"></i><span>&nbsp;&nbsp;Добавить</span>
                    </a>
                </td>
                <td class="tableNumber all">#</td>
                <td class="tableText all">Игровая стадия</td>
                <td class="tableText min-tablet">Тип соревнования</td>
                <td class="tableText center min-tablet">Начало</td>
                <td class="tableText center min-tablet">Конец</td>
                <td class="tableText min-tablet">Команды</td>
                <td class="tableText min-tablet">Матчи</td>
                <td class="tableInputRight all"></td>
            </tr>
        </thead>
        <tbody>
            {% for lsas in listSAS %}
            <tr data-pk-id="{{ lsas.SAS_ID }}" data-stage="{{ lsas.stage_ID.stage_ID }}" data-zonegroupplayofftoggle="{{ lsas.stage_ID.stageType }}" data-gametype="{{ lsas.gameType_ID.gameTypeName }}" data-startdate="{{ lsas.startDate.strftime('%d.%m.%Y')  if lsas.startDate != None  }}" data-finishdate="{{ lsas.finishDate.strftime('%d.%m.%Y') if lsas.finishDate != None }}">
                <td class="dt">&nbsp;</td>
                <td class="tableInputLeft">
                    <a class="update-button form-control flat btn-warning input-sm" data-toggle="modal" data-target="#modify-modal" data-pk-id="{{ lsas.SAS_ID }}">
                        <i class="glyphicon glyphicon-pencil"></i><span>&nbsp;&nbsp;Изменить</span>
                    </a>
                </td>
                <td class="tableNumber">{{ loop.index }}</td>
                <td class="tableText">
                    {% if lsas.stage_ID.stageType == "Z" %}зона {{ lsas.stage_ID.stageName }}{% endif %}
                    {% if lsas.stage_ID.stageType == "G" %}группа {{ lsas.stage_ID.stageName }}{% endif %}
                    {% if lsas.stage_ID.stageType == "P" %}плэй-офф{% endif %}
                </td>
                <td class="tableText">
                    {% if lsas.gameType_ID.gameTypeName == "CHA" %}Первенство{% endif %}
                    {% if lsas.gameType_ID.gameTypeName == "CUP" %}Кубок{% endif %}
                </td>
                <td class="tableText center">
                    {% if lsas.startDate %}  {{  lsas.startDate.strftime('%d.%m.%Y') if lsas.startDate  != None }} {% endif %}
                </td>
                <td class="tableText center">
                    {% if lsas.finishDate %} {{ lsas.finishDate.strftime('%d.%m.%Y') if lsas.finishDate != None }} {% endif %}
                </td>
                <td class="tableText">
                    <a href="/season/{{ seasonid }}/age/{{ ageid }}/stage/{{ lsas.SAS_ID }}/team">
                        {% if lsas.countSAST == 0 %} <span class="badge  badge-default">нет</span> {% endif %}
                        {% if lsas.countSAST > 0 %}  <span class="badge">{{ lsas.countSAST }}</span> {% endif %}
                    </a>
                </td>
               <td class="tableText">
                    <a href="/season/{{ seasonid }}/age/{{ ageid }}/stage/{{ lsas.SAS_ID }}/gp">
                        {% if lsas.countGP == 0 %} <span class="badge  badge-default">нет</span> {% endif %}
                        {% if lsas.countGP >  0 %} <span class="badge">{{ lsas.countGP }}</span> {% endif %}
                    </a>
                </td>
                <td class="tableInputRight">
                    <a class="delete-button form-control flat btn-danger input-sm" data-pk-id="{{ lsas.SAS_ID }}">
                        <span>Удалить&nbsp;&nbsp;</span><i class="glyphicon glyphicon-remove"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        {% endif %}
        {% endif %}
    </div>

</div>

{% include "includes/modifySAS.jinja.html" %}

{% include "includes/delete.jinja.html" %}

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='customization/js/selectAction_SAS.js') }}"></script>
    <script src="{{ url_for('static', filename='customization/js/zoneGroupPlayoffToggle.js') }}"></script>
    <script src="{{ url_for('static', filename='customization/js/formValidation.js') }}"></script>
{% endblock %}
