{% extends "index.jinja.html" %}

{% set active_group = "Calendar" %}
{% set active_page  = "SAS"      %}
{% set title        = "Игровые стадии в выбранном сезоне" %}

{% block body %}

{% include 'header.jinja.html' with context %}

<div class="row" style="margin-left: 35rem;">

    <div class="col-md-4">
        <form id="filterSeason" class="flat-form" name="filterSeason" style="text-align: center;">
            <div class="btn-group">
                <label class="btn-label" for="filterSeasonforSAS">Выберите сезон</label>
                <br>
                <select id="filterSeasonforSAS" name="filterSeasonforSAS" class="selectpicker" data-live-search="true" data-style="btn-info">
                    <option value="0" {% for lse in listSeason %}{% if lse.season_ID == seasonid %}selected{% endif %}{% endfor %}>выберите сезон</option>
                {% for lse in listSeason %}
                    <option value="{{ lse.season_ID }}" {% if lse.season_ID == seasonid %}selected{% endif %}>{{ lse.seasonName }}</option>
                {% endfor %}
                </select>
            </div>
        </form>
    </div>

    <div class="col-md-4">
        <form id="filterAge" class="flat-form" name="filterAge" style="text-align: left;">
            <div class="form-group btn-group" data-toggle="buttons">
                <label class="btn-label">Выберите возраст</label>
                <div class="btn-group listAgeTop">
                {% for la in listAge %}
                    {% if loop.index in range(1,5) %}
                    <label for="age_ID_{{ la.age_ID }}" class="btn btn-info {% if la.age_ID == ageid %}active{% endif %}">
                        <input id="age_ID_{{ la.age_ID }}" type="radio" name="filterAgeforSAS" value="{{ la.age_ID }}" {% if la.age_ID == ageid %}checked{% endif %}>{{ la.ageName }}
                    </label>
                    {% endif %}
                {% endfor %}
                </div>
                <div class="btn-group listAgeBottom">
                {% for la in listAge %}
                    {% if loop.index in range(5,9) %}
                    <label for="age_ID_{{ la.age_ID }}" class="btn btn-info {% if la.age_ID == ageid %}active{% endif %}">
                        <input id="age_ID_{{ la.age_ID }}" type="radio" name="filterAgeforSAS" value="{{ la.age_ID }}" {% if la.age_ID == ageid %}checked{% endif %}>{{ la.ageName }}
                    </label>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </form>
    </div>

</div>

<div class="row">

    <div class="col-lg-1"></div>

    <div class="col-lg-10">
        {% if not seasonid == 0 %}
        {% if not ageid == 0 %}
        <table id="listSAS" class="table-striped table-hover table-condensed table-responsive" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <td class="tableInputLeft">
                    <a class="form-control flat btn-success input-sm" data-toggle="modal" data-target="#Modal_create">
                        <i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;<span>Добавить</span>
                    </a>
                </td>
                <td class="tableNumber">#</td>
                <td class="tableText">Игровая стадия</td>
                <td class="tableText">Тип соревнования</td>
                <td class="tableText center">Начало</td>
                <td class="tableText center">Конец</td>
                <td class="tableText">Команды</td>
                <td class="tableText">Матчи</td>
                <td class="tableInputRight"></td>
            </tr>
        </thead>
        <tbody>
            {% for lsas in listSAS %}
            <tr>
                <td class="tableInputLeft">
                    <a class="form-control flat btn-warning input-sm" data-toggle="modal" data-target="#Modal_update_{{ lsas.SAS_ID }}">
                        <i class="glyphicon glyphicon-pencil"></i>&nbsp;&nbsp;<span>Изменить</span>
                    </a>
                </td>
                <td class="tableNumber">{{ loop.index }}</td>
                <td class="tableText">
                    {% if lsas.stage_ID.stageType == "Z" %}зона {{ lsas.stage_ID.stageName }}{% endif %}
                    {% if lsas.stage_ID.stageType == "G" %}группа {{ lsas.stage_ID.stageName }}{% endif %}
                    {% if lsas.stage_ID.stageType == "P" %}плэй-офф{% endif %}
                </td>
                <td class="tableText">
                    {% if lsas.gameType_ID.gameTypeName == "CHA" %}Первенство{% endif %}
                    {% if lsas.gameType_ID.gameTypeName == "CUP" %}Кубок{% endif %}
                </td>
                <td class="tableText center">
                    {% if lsas.startDate %}
                        {{ lsas.startDate.strftime('%d.%m.%Y') }}
                    {% endif %}
                </td>
                <td class="tableText center">
                    {% if lsas.finishDate %}
                        {{ lsas.finishDate.strftime('%d.%m.%Y') }}
                    {% endif %}
                </td>
                <td class="tableText">
                    <a href="/season/{{ seasonid }}/age/{{ ageid }}/stage/{{ lsas.SAS_ID }}/team">
                        {% if lsas.countSAST == 0 %}нет{% endif %}
                        {% if lsas.countSAST > 0 %}{{ lsas.countSAST }}{% endif %}
                    </a>
                </td>
               <td class="tableText">
                    <a href="/season/{{ seasonid }}/age/{{ ageid }}/stage/{{ lsas.SAS_ID }}/gp">
                        {% if lsas.countGP == 0 %}нет{% endif %}
                        {% if lsas.countGP >  0 %}{{ lsas.countGP }}{% endif %}
                    </a>
                </td>
                <td class="tableInputRight">
                    {% include "includes/deleteSAS.jinja.html" %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        {% endif %}
        {% endif %}
    </div>

    <div class="col-lg-1"></div>

</div>

{% include "includes/createSAS.jinja.html" %}

{#
{% for lsas in listSAS %}
    {% include "includes/updateSAS.jinja.html" %}
{% endfor %}
#}

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='customization/js/selectAction_SAS.js') }}"></script>
    <script src="{{ url_for('static', filename='customization/js/zoneGroupPlayoffToggle.js') }}"></script>
    <script src="{{ url_for('static', filename='customization/js/formValidation.js') }}"></script>
{% endblock %}
