{% extends "index.jinja.html" %}

{% set active_group = "Rating" %}
{% set active_page  = "SchoolRating" %}
{% set title        = "Текущий рейтинг спортивных школ" %}

{% block body %}

{% include 'header.jinja.html' with context %}

<div class="row">
{#
    <div class="col-md-4">
        <form id="filterSeason" class="flat-form" name="filterSeason" style="text-align: center;">
            <div class="btn-group">
                <label class="btn-label" for="filterSeasonforSAS">Выберите сезон</label>
                <br>
                <select id="filterSeasonforSAS" name="filterSeasonforSAS" class="selectpicker" data-live-search="true" data-style="btn-info">
                    <option value="0" {% for lse in listSeason %}{% if lse.season_ID == seasonid %}selected{% endif %}{% endfor %}>выберите сезон</option>
                {% for lse in listSeason %}
                    <option value="{{ lse.season_ID }}" {% if lse.season_ID == seasonid %}selected{% endif %}>{{ lse.seasonName }}</option>
                {% endfor %}
                </select>
            </div>
        </form>
    </div>
#}
</div>

<div class="row">

    <div class="col-lg-1"></div>

    <div class="col-lg-10">
        <table id="teamRating" class="table-striped table-hover table-condensed table-responsive" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <td class="tableNumber">#</td>
                <td class="tableText">Сезон</td>
                <td class="tableText">Спортивная школа</td>
                <td class="tableNumber">Матчи</td>
                <td class="tableNumber">Победы</td>
                <td class="tableNumber">Ничьи</td>
                <td class="tableNumber">З</td>
                <td class="tableNumber">П</td>
                <td class="tableNumber">З-П</td>
                <td class="tableNumber">ПО</td>
                <td class="tableNumber">11м</td>
                <td class="tableNumber">ПФ</td>
                <td class="tableNumber">Ф</td>
                <td class="tableNumber">Рейтинг</td>
            </tr>
        </thead>
        <tbody>
            {% for lsr in listSR %}
            <tr>
                <td class="tableNumber">{{ loop.index }}</td>
                <td class="tableText">  {{ lsr.seasonName }}</td>
                <td class="tableText">  {{ lsr.schoolName }} ({{ lsr.cityName }})</td>
                <td class="tableNumber">{% if lsr.games       != 0 %} {{ lsr.games }}       {% endif %}</td>
                <td class="tableNumber">{% if lsr.wins        != 0 %} {{ lsr.wins }}        {% endif %}</td>
                <td class="tableNumber">{% if lsr.equals      != 0 %} {{ lsr.equals }}      {% endif %}</td>
                <td class="tableNumber">{% if lsr.scored      != 0 %} {{ lsr.scored }}      {% endif %}</td>
                <td class="tableNumber">{% if lsr.missed      != 0 %} {{ lsr.missed }}      {% endif %}</td>
                <td class="tableNumber">{% if lsr.goals       != 0 %} {{ lsr.goals }}       {% endif %}</td>
                <td class="tableNumber">{% if lsr.playoff     != 0 %} {{ lsr.playoff }}     {% endif %}</td>
                <td class="tableNumber">{% if lsr.playoff_11m != 0 %} {{ lsr.playoff_11m }} {% endif %}</td>
                <td class="tableNumber">{% if lsr.playoff_SF  != 0 %} {{ lsr.playoff_SF }}  {% endif %}</td>
                <td class="tableNumber">{% if lsr.playoff_F   != 0 %} {{ lsr.playoff_F }}   {% endif %}</td>
                <td class="tableNumber"><b>{{ lsr.schoolRating }}</b></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>

    </div>

    <div class="col-lg-1"></div>

</div>

{% endblock %}

{% block scripts %}

{% endblock %}
