{% extends "index.jinja.html" %}

{% set active_group = "Source" %}
{% set active_page  = "School" %}
{% set title        = "Школы, в которых находятся юношеские команды разных возрастов" %}

{% block body %}

<div class="row" style="margin-left: 15rem;">
    <div class="btn-group">
        <label class="btn-label" for="filterCityforSchool">Выберите город</label>
        <select id="filterCityforSchool" class="selectpicker" name="filterCityforSchool" data-live-search="true" data-style="btn-info">
            <option value="0" {% for lc in listCity %}{% if lc.city_ID == cityid %} selected{% endif %}{% endfor %}>выберите город</option>
        {% for lc in listCity %}
            <option value="{{ lc.city_ID }}" {% if lc.city_ID == cityid %} selected{% endif %}>{{ lc.cityName }}</option>
        {% endfor %}
        </select>
    </div>
</div>

<div class="row">

    <div class="col-lg-1"></div>

    <div class="col-lg-10">
        {% if cityname %}
        <table id="listSchool" class="table-striped table-hover table-condensed table-responsive" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <td class="tableInputLeft">
                    <a class="form-control flat btn-success input-sm" data-toggle="modal" data-target="#modify-modal" data-pk-id="0">
                        <i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;<span>Добавить</span>
                    </a>
                </td>
                <td class="tableNumber">#</td>
                <td class="tableText">Спортивная школа</td>
                <td class="tableText">Команды</td>
                <td class="tableInputRight"></td>
            </tr>
        </thead>
        <tbody>
            {% for ls in listSchool %}
            <tr data-pk-id="{{ ls.school_ID }}" data-schoolname="{{ ls.schoolName }}" data-cityname="{{ ls.city_ID.cityName }}">
                <td class="tableInputLeft">
                    <a class="update-button form-control flat btn-warning input-sm" data-toggle="modal" data-target="#modify-modal" data-pk-id="{{ ls.school_ID }}">
                        <i class="glyphicon glyphicon-pencil"></i>&nbsp;&nbsp;<span>Изменить</span>
                    </a>
                </td>
                <td class="tableNumber">{{ loop.index }}</td>
                <td class="tableText">{{ ls.schoolName }}</td>
                <td class="tableText">
                    <a href="/city/{{ ls.city_ID.city_ID }}/school/{{ ls.school_ID }}/team">
                        {% if ls.countTeams == 0 %}нет{% endif %}
                        {% if ls.countTeams > 0 %}{{ ls.countTeams }} {% endif %}
                    </a>
                </td>
                <td class="tableInputRight">
                    <a class="delete-button form-control flat btn-danger input-sm" data-pk-id="{{ ls.school_ID }}">
                        <span>Удалить</span>&nbsp;&nbsp;<i class="glyphicon glyphicon-remove"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        {% endif %}
    </div>

    <div class="col-lg-1"></div>

</div>

{% include "includes/modifySchool.jinja.html" %}

{% include "includes/delete.jinja.html" %}

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='customization/js/selectAction_School.js') }}"></script>
    <script src="{{ url_for('static', filename='customization/js/formValidation.js') }}"></script>
{% endblock %}
