{% extends "index.jinja.html" %}

{% set active_group = "Rating" %}
{% set active_page  = "SchoolRating" %}
{% set title        = "Текущий рейтинг спортивных школ" %}

{% block body %}

<div class="row">

    <div class="col-xs-12 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-3 col-lg-3 col-lg-offset-3" style="text-align: center;">

        <div class="btn-group">
            <label class="btn-label" for="filterSeason_from">Начальный сезон</label>
            <br>
            <select name="filterSeason_from" class="selectpicker" data-live-search="true" data-style="btn-info">
                <option value="0" {% for ls in listSeason %}{% if ls.season_ID == seasonid_from %}selected{% endif %}{% endfor %}>выберите сезон</option>
            {% for ls in listSeason %}
                <option value="{{ ls.season_ID }}" {% if ls.season_ID == seasonid_from %}selected{% endif %}>{{ ls.seasonName }}</option>
            {% endfor %}
            </select>
        </div>

    </div>

    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" style="text-align: center;">

        <div class="btn-group">
            <label class="btn-label" for="filterSeason_to">Конечный сезон</label>
            <br>
            <select name="filterSeason_to" class="selectpicker" data-live-search="true" data-style="btn-info">
                <option value="0" {% for ls in listSeason %}{% if ls.season_ID == seasonid_to %}selected{% endif %}{% endfor %}>выберите сезон</option>
            {% for ls in listSeason %}
                <option value="{{ ls.season_ID }}" {% if ls.season_ID == seasonid_to %}selected{% endif %}>{{ ls.seasonName }}</option>
            {% endfor %}
            </select>
        </div>

    </div>

</div>

<div class="row">

    <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0 col-lg-10 col-lg-offset-1">
        {% if not seasonid_from == 0 %}
        {% if not seasonid_to == 0 %}
        {% if not listTR_count == 0 %}
        <table id="teamRating" class="table-striped table-hover table-condensed display dt-responsive nowrap" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <td class="dt max-tablet"            rowspan="2"></td>
                <td class="tableInputLeft never"     rowspan="2">
                <td class="tableNumber all"          rowspan="2">#</td>
                <td class="tableText   all"          rowspan="2">Юношеская команда</td>
                <td class="tableNumber min-desktop"  rowspan="2">Игры</td>
                <td class="tableNumber min-desktop"  colspan="2">Результаты</td>
                <td class="tableNumber min-desktop"  colspan="3">Мячи</td>
                <td class="tableNumber min-desktop"  colspan="4">Плэй-офф</td>
                <td class="tableNumber min-mobile-l" rowspan="2">Рейтинг</td>
                <td class="tableInputRight never"    rowspan="2">
            </tr>
            <tr>
                <td class="tableNumber min-desktop">В</td>
                <td class="tableNumber min-desktop">Н</td>
                <td class="tableNumber min-desktop">З</td>
                <td class="tableNumber min-desktop">П</td>
                <td class="tableNumber min-desktop">З - П</td>
                <td class="tableNumber min-desktop">Выход</td>
                <td class="tableNumber min-desktop">В11м</td>
                <td class="tableNumber min-desktop">ПФ</td>
                <td class="tableNumber min-desktop">Ф</td>
            </tr>
        </thead>
        <tbody>
            {% for lsr in listSR %}
            <tr>
                <td class="dt">&nbsp;</td>
                <td class="tableInputLeft">
                <td class="tableNumber">{{ loop.index }}</td>
                <td class="tableText">  {{ lsr.schoolName }} ({{ lsr.cityName }})</td>
                <td class="tableNumber">{% if lsr.games       != 0 %} {{ lsr.games }}       {% endif %}</td>
                <td class="tableNumber">{% if lsr.wins        != 0 %} {{ lsr.wins }}        {% endif %}</td>
                <td class="tableNumber">{% if lsr.equals      != 0 %} {{ lsr.equals }}      {% endif %}</td>
                <td class="tableNumber">{{ lsr.scored }}</td>
                <td class="tableNumber">{{ lsr.missed }}</td>
                <td class="tableNumber"><span class="{% if lsr.goals > 0 %}positive{% endif %} {% if lsr.goals < 0 %}negative{% endif %}">{{ lsr.goals }}</span></td>
                <td class="tableNumber">{% if lsr.playoff     != 0 %} {{ lsr.playoff }}     {% endif %}</td>
                <td class="tableNumber">{% if lsr.playoff_11m != 0 %} {{ lsr.playoff_11m }} {% endif %}</td>
                <td class="tableNumber">{% if lsr.playoff_SF  != 0 %} {{ lsr.playoff_SF }}  {% endif %}</td>
                <td class="tableNumber">{% if lsr.playoff_F   != 0 %} {{ lsr.playoff_F }}   {% endif %}</td>
                <td class="tableNumber"><b>{{ lsr.schoolRating }}</b></td>
                <td class="tableInputRight">
            </tr>
            {% endfor %}
        </tbody>
        </table>
        {% endif %}
        {% endif %}
        {% endif %}
    </div>

</div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='customization/js/selectAction_SR.js') }}"></script>
{% endblock %}
