{% extends "index.jinja.html" %}

{% set active_group = "Rating" %}
{% set active_page  = "TeamRating" %}
{% set title        = "Текущий рейтинг юношеских команд" %}

{% block body %}

<div class="row">

    <div class="col-md-5">
        <form id="filterSeason_from" class="flat-form" name="filterSeason_from" style="text-align: right;">
            <div class="btn-group">
                <label class="btn-label" for="filterSeasonforTR_from">Начальный сезон</label>
                <br>
                <select id="filterSeasonforTR_from" name="filterSeasonforTR_from" class="selectpicker" data-live-search="true" data-style="btn-info">
                    <option value="0" {% for ls in listSeason %}{% if ls.season_ID == seasonid_from %}selected{% endif %}{% endfor %}>выберите сезон</option>
                {% for ls in listSeason %}
                    <option value="{{ ls.season_ID }}" {% if ls.season_ID == seasonid_from %}selected{% endif %}>{{ ls.seasonName }}</option>
                {% endfor %}
                </select>
            </div>
        </form>
    </div>

    <div class="col-md-2">
        <form id="filterSeason_to" class="flat-form" name="filterSeason_to" style="text-align: center;">
            <div class="btn-group">
                <label class="btn-label" for="filterSeasonforTR_to">Конечный сезон</label>
                <br>
                <select id="filterSeasonforTR_to" name="filterSeasonforTR_to" class="selectpicker" data-live-search="true" data-style="btn-info">
                    <option value="0" {% for ls in listSeason %}{% if ls.season_ID == seasonid_to %}selected{% endif %}{% endfor %}>выберите сезон</option>
                {% for ls in listSeason %}
                    <option value="{{ ls.season_ID }}" {% if ls.season_ID == seasonid_to %}selected{% endif %}>{{ ls.seasonName }}</option>
                {% endfor %}
                </select>
            </div>
        </form>
    </div>

    <div class="col-md-5">
        <form id="filterAge" class="flat-form" name="filterAge" style="text-align: left;">
            <div class="form-group btn-group" data-toggle="buttons">
                <label class="btn-label">Возраст</label>
                <div class="btn-group listAgeTop">
                {% for la in listAge %}
                    {% if loop.index in range(1,5) %}
                    <label for="age_ID_{{ la.age_ID }}" class="btn btn-info {% if la.age_ID == ageid %}active{% endif %}">
                        <input id="age_ID_{{ la.age_ID }}" type="radio" name="filterAgeforTR" value="{{ la.age_ID }}" {% if la.age_ID == ageid %}checked{% endif %}>{{ la.ageName }}
                    </label>
                    {% endif %}
                {% endfor %}
                </div>
                <div class="btn-group listAgeBottom">
                {% for la in listAge %}
                    {% if loop.index in range(5,9) %}
                    <label for="age_ID_{{ la.age_ID }}" class="btn btn-info {% if la.age_ID == ageid %}active{% endif %}">
                        <input id="age_ID_{{ la.age_ID }}" type="radio" name="filterAgeforTR" value="{{ la.age_ID }}" {% if la.age_ID == ageid %}checked{% endif %}>{{ la.ageName }}
                    </label>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </form>
    </div>

</div>

<div class="row">

    <div class="col-lg-1"></div>

    <div class="col-lg-10">
        {% if not seasonid_from == 0 %}
        {% if not seasonid_to == 0 %}
        {% if not ageid == 0 %}
        {% if not listTR_count == 0 %}
        <table id="teamRating" class="table-striped table-hover table-condensed display responsive nowrap" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <td class="tableNumber all"          rowspan="2">#</td>
                <td class="tableText   all"          rowspan="2">Юношеская команда</td>
                <td class="tableNumber min-desktop"  rowspan="2">Игры</td>
                <td class="tableNumber min-desktop"  colspan="2">Результаты</td>
                <td class="tableNumber min-desktop"  colspan="3">Мячи</td>
                <td class="tableNumber min-desktop"  colspan="4">Плэй-офф</td>
                <td class="tableNumber min-mobile-l" rowspan="2">Рейтинг</td>
            </tr>
            <tr>
                <td class="tableNumber min-desktop">В</td>
                <td class="tableNumber min-desktop">Н</td>
                <td class="tableNumber min-desktop">З</td>
                <td class="tableNumber min-desktop">П</td>
                <td class="tableNumber min-desktop">З - П</td>
                <td class="tableNumber min-desktop">Выход</td>
                <td class="tableNumber min-desktop">В11м</td>
                <td class="tableNumber min-desktop">ПФ</td>
                <td class="tableNumber min-desktop">Ф</td>
            </tr>
        </thead>
        <tbody>
            {% for ltr in listTR %}
            <tr>
                <td class="tableNumber">{{ loop.index }}</td>
                <td class="tableText">  {{ ltr.teamName }} ({{ ltr.cityName }})</td>
                <td class="tableNumber">{% if ltr.games       != 0 %} {{ ltr.games }}       {% endif %}</td>
                <td class="tableNumber">{% if ltr.wins        != 0 %} {{ ltr.wins }}        {% endif %}</td>
                <td class="tableNumber">{% if ltr.equals      != 0 %} {{ ltr.equals }}      {% endif %}</td>
                <td class="tableNumber">{{ ltr.scored }}</td>
                <td class="tableNumber">{{ ltr.missed }}</td>
                <td class="tableNumber">{{ ltr.goals }}</td>
                <td class="tableNumber">{% if ltr.playoff     != 0 %} {{ ltr.playoff }}     {% endif %}</td>
                <td class="tableNumber">{% if ltr.playoff_11m != 0 %} {{ ltr.playoff_11m }} {% endif %}</td>
                <td class="tableNumber">{% if ltr.playoff_SF  != 0 %} {{ ltr.playoff_SF }}  {% endif %}</td>
                <td class="tableNumber">{% if ltr.playoff_F   != 0 %} {{ ltr.playoff_F }}   {% endif %}</td>
                <td class="tableNumber"><b>{{ ltr.teamRating }}</b></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        {% endif %}
        {% endif %}
        {% endif %}
        {% endif %}
    </div>

    <div class="col-lg-1"></div>

</div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='customization/js/selectAction_TR.js') }}"></script>
{% endblock %}
