{% extends "index.jinja.html" %}

{% set active_group = "Source" %}
{% set active_page  = "Team"   %}
{% set title        = "Юношеские команды из разных спортивных школ и их распределение по возрастам" %}

{% block body %}

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-3 col-md-offset-3 col-lg-3 col-lg-offset-3" style="text-align: center;">

        <div class="btn-group">
            <label class="btn-label" for="filterCity">Город</label>
            <br>
            <select id="filterCity" name="filterCity" class="selectpicker" data-live-search="true" data-style="btn-info">
                <option value="0" {% for lc in listCity %}{% if lc.city_ID == cityid %}selected{% endif %}{% endfor %}>выберите город</option>
            {% for lc in listCity %}
                <option value="{{ lc.city_ID }}" {% if lc.city_ID == cityid %}selected{% endif %}>{{ lc.cityName }}</option>
            {% endfor %}
            </select>
        </div>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" style="text-align: center;">

        <div class="btn-group">
            <label class="btn-label" for="filterSchool">Школа</label>
            <br>
            <select id="filterSchool" name="filterSchool" class="selectpicker" data-live-search="true" data-style="btn-info" data-width="auto" {% if listSchool.count() == 0 %} disabled="disabled"{% endif %}>
                <option value="0" {% for ls in listSchool %}{% if ls.school_ID == schoolid %}selected{% endif %}{% endfor %}>
                    {% if listSchool.count() >  0 %}выберите школу{% endif %}
                    {% if listSchool.count() == 0 %}{% endif %}
                </option>
            {% for ls in listSchool %}
                <option value="{{ ls.school_ID }}" {% if ls.school_ID == schoolid %}selected{% endif %}>{{ ls.schoolName }}</option>
            {% endfor %}
            </select>
        </div>

    </div>

</div>

<div class="row">

    <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0 col-lg-10 col-lg-offset-1">
        {% if not listSchool.count() == 0 %}
        {% if not schoolid == 0 %}
        <table id="listTeam" class="table-striped table-hover table-condensed table-responsive display dt-responsive nowrap" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <td class="dt max-mobile"></td>
                <td class="tableInputLeft all">
                    <a class="form-control flat btn-success input-sm" data-toggle="modal" data-target="#modify-modal" data-pk-id="0">
                        <i class="glyphicon glyphicon-plus"></i><span>&nbsp;&nbsp;Добавить</span>
                    </a>
                </td>
                <td class="tableNumber all">#</td>
                <td class="tableText all">Команда</td>
                <td class="tableNumber min-tablet">Возраст</td>
                <td class="tableInputRight all"></td>
            </tr>
        </thead>
        <tbody>
            {% for lt in listTeam %}
            <tr data-pk-id="{{ lt.team_ID }}" data-teamname="{{ lt.teamName }}" data-filterage="{{ lt.age_ID.age_ID }}" data-agename="{{ lt.age_ID.ageName }}">
                <td class="dt">&nbsp;</td>
                <td class="tableInputLeft">
                    <a class="form-control flat btn-warning input-sm" data-toggle="modal" data-target="#modify-modal" data-pk-id="{{ lt.team_ID }}">
                        <i class="glyphicon glyphicon-pencil"></i><span>&nbsp;&nbsp;Изменить</span>
                    </a>
                </td>
                <td class="tableNumber">{{ loop.index }}</td>
                <td class="tableText">{{ lt.teamName }}</td>
                <td class="tableText ageName">{{ lt.age_ID.ageName }} г.р.</td>
                <td class="tableInputRight">
                    <a class="delete-button form-control flat btn-danger input-sm" data-pk-id="{{ lt.team_ID }}">
                        <span>Удалить&nbsp;&nbsp;</span><i class="glyphicon glyphicon-remove"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        {% endif %}
        {% endif %}
    </div>

</div>

{% include "includes/modifyTeam.jinja.html" %}

{% include "includes/delete.jinja.html" %}

{% endblock %}

{% block scripts %}
<script type="text/javascript">

</script>
<script src="{{ url_for('static', filename='customization/js/selectAction_Team.js') }}"></script>
<script src="{{ url_for('static', filename='customization/js/formValidation.js') }}"></script>
{% endblock %}
