{% extends "index.jinja.html" %}

{% set active_group = "Source" %}
{% set active_page  = "Team"   %}
{% set title        = "Юношеские команды из разных спортивных школ и их распределение по возрастам" %}

{% block body %}

<div class="row">
    <div class="col-md-3 col-md-offset-3" style="text-align: center;">
        <form id="filterCity" class="flat-form" name="filterCity">
            <div class="btn-group">
                <label class="btn-label" for="filterCityforTeam">Выберите город</label>
                <br>
                <select id="filterCityforTeam" name="filterCityforTeam" class="selectpicker" data-live-search="true" data-style="btn-info">
                    <option value="0" {% for lc in listCity %}{% if lc.city_ID == cityid %}selected{% endif %}{% endfor %}>выберите город</option>
                {% for lc in listCity %}
                    <option value="{{ lc.city_ID }}" {% if lc.city_ID == cityid %}selected{% endif %}>{{ lc.cityName }}</option>
                {% endfor %}
                </select>
            </div>
        </form>
    </div>

    <div class="col-md-3" style="text-align: center;">
        <form id="filterSchool" class="flat-form" name="filterSchool">
            <div class="btn-group">
                <label class="btn-label" for="filterSchoolforTeam">Выберите школу</label>
                <br>
                <select id="filterSchoolforTeam" name="filterSchoolforTeam" class="selectpicker" data-live-search="true" data-style="btn-info" data-width="auto" {% if listSchool.count() == 0 %} disabled="disabled"{% endif %}>
                    <option value="0" {% for ls in listSchool %}{% if ls.school_ID == schoolid %}selected{% endif %}{% endfor %}>
                        {% if listSchool.count() >  0 %}выберите школу{% endif %}
                        {% if listSchool.count() == 0 %}{% endif %}
                    </option>
                {% for ls in listSchool %}
                    <option value="{{ ls.school_ID }}" {% if ls.school_ID == schoolid %}selected{% endif %}>{{ ls.schoolName }}</option>
                {% endfor %}
                </select>
            </div>
        </form>
    </div>
</div>

<div class="row">

    <div class="col-lg-1"></div>

    <div class="col-lg-10">
        {% if not listSchool.count() == 0 %}
        {% if not schoolid == 0 %}
        <table id="listTeam" class="table-striped table-hover table-condensed table-responsive" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <td class="tableInputLeft">
                    <a class="form-control flat btn-success input-sm" data-toggle="modal" data-target="#modify-modal" data-pk-id="0">
                        <i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;<span>Добавить</span>
                    </a>
                </td>
                <td class="tableNumber">#</td>
                <td class="tableText">Команда</td>
                <td class="tableNumber">Возраст</td>
                <td class="tableInputRight"></td>
            </tr>
        </thead>
        <tbody>
            {% for lt in listTeam %}
            <tr data-pk-id="{{ lt.team_ID }}" data-teamname="{{ lt.teamName }}" data-age-id="{{ lt.age_ID.age_ID }}" data-agename="{{ lt.age_ID.ageName }}">
                <td class="tableInputLeft">
                    <a class="form-control flat btn-warning input-sm" data-toggle="modal" data-target="#modify-modal" data-pk-id="{{ lt.team_ID }}">
                        <i class="glyphicon glyphicon-pencil"></i>&nbsp;&nbsp;<span>Изменить</span>
                    </a>
                </td>
                <td class="tableNumber">{{ loop.index }}</td>
                <td class="tableText">{{ lt.teamName }}</td>
                <td class="tableText ageName">{{ lt.age_ID.ageName }} лет</td>
                <td class="tableInputRight">
                    <a class="delete-button form-control flat btn-danger input-sm" data-pk-id="{{ lt.team_ID }}">
                        <span>Удалить</span>&nbsp;&nbsp;<i class="glyphicon glyphicon-remove"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        {% endif %}
        {% endif %}
    </div>

    <div class="col-lg-1"></div>

</div>

{% include "includes/modifyTeam.jinja.html" %}

{% include "includes/delete.jinja.html" %}

{% endblock %}

{% block scripts %}
<script type="text/javascript">

</script>
<script src="{{ url_for('static', filename='customization/js/selectAction_Team.js') }}"></script>
<script src="{{ url_for('static', filename='customization/js/formValidation.js') }}"></script>
{% endblock %}
